<div class="standard-modal standard-modal--flowers js-modal" id="cars-modal">
    <div class="standard-modal__inner">
        <button class="standard-modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="standard-modal__flowers">
            <div class="standard-modal__flowers-slider js-flowers-slider">
                <div class="standard-modal__flowers-slider-arrows">
                    <button
                        class="standard-modal__flowers-slider-arrow standard-modal__flowers-slider-arrow--prev">
                        <div class="standard-modal__flowers-slider-arrow-icon">
                            <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                <use xlink:href="#rombus-filled"></use>
                            </svg>
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </button>
                    <button class="standard-modal__flowers-slider-arrow standard-modal__flowers-slider-arrow--next">
                        <div class="standard-modal__flowers-slider-arrow-icon">
                            <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                <use xlink:href="#rombus-filled"></use>
                            </svg>
                            <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                <use xlink:href="#arrow-right"></use>
                            </svg>
                        </div>
                    </button>
                </div>
                <div class="swiper">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="standard-modal__flowers-slider-card">
                                <div
                                    class="standard-modal__flowers-slider-card-bg standard-modal__flowers-slider-card-bg--no-overlay">
                                    <img data-src="img/cars-modal.jpg" alt=""
                                        class="standard-modal__flowers-slider-card-bg-image lazyload">
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="standard-modal__flowers-slider-card">
                                <div
                                    class="standard-modal__flowers-slider-card-bg standard-modal__flowers-slider-card-bg--no-overlay">
                                    <img data-src="img/cars-modal.jpg" alt=""
                                        class="standard-modal__flowers-slider-card-bg-image lazyload">
                                </div>

                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="standard-modal__flowers-slider-card">
                                <div
                                    class="standard-modal__flowers-slider-card-bg standard-modal__flowers-slider-card-bg--no-overlay">
                                    <img data-src="img/cars-modal.jpg" alt=""
                                        class="standard-modal__flowers-slider-card-bg-image lazyload">
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>