<div class="cookies">
    <div class="cookies__text">
        Мы используем <a href="#">cookie</a> на нашем сайте
    </div>
    <button class="cookies__close">
        <svg width="45" height="45" aria-hidden="true" class="icon-semicircle">
            <use xlink:href="#semicircle"></use>
        </svg>
        Хорошо
    </button>
</div>