<div class="standard-modal js-modal" id="excursion-modal">
    <div class="standard-modal__inner">
        <button class="standard-modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="standard-modal__excursion">
            <div class="standard-modal__excursion-image-container">
                <img data-src="img/excursion-modal.jpg" alt="" class="standard-modal__excursion-image lazyload">
            </div>
            <div class="standard-modal__excursion-row">
                <div class="standard-modal__excursion-col">
                    <h2 class="standard-modal__excursion-title">
                        Пешеходная индивидуальная экскурсия по Старо-Татарской Слободе
                    </h2>
                    <div class="standard-modal__excursion-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        9 часов
                    </div>
                    <div class="standard-modal__excursion-prices">
                        <div class="standard-modal__excursion-price">
                            <div class="standard-modal__excursion-price-amount">
                                25 100 ₽
                            </div>
                            <div class="standard-modal__excursion-price-text">
                                <p>
                                    на русском языке
                                </p>
                            </div>
                        </div>
                        <div class="standard-modal__excursion-price">
                            <div class="standard-modal__excursion-price-amount">
                                31 300 ₽
                            </div>
                            <div class="standard-modal__excursion-price-text">
                                <p>
                                    на английском языке
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="standard-modal__excursion-col">
                    <div class="standard-modal__excursion-desc">
                        <p>
                            Чистополь – город, сохранивший неброское спокойное очарование русской
                            провинции. Но если покопаться вглубь веков, то камни старого мусульманского
                            кладбища Чистополя помнят еще времена Джукетау — одного из последних городов
                            Золотой Орды. На экскурсии Вы узнаете об истории основании города, о том,
                            что до 1917 года Чистополь был вторым по значению городом Казанской
                            губернии.

                        </p>
                        <p>
                            В годы Великой Отечественной войны этот маленький татарский городок на Каме
                            принял к себе и сохранил весь цвет советской интеллигенции — писателей,
                            поэтов, ученых: здесь жили Борис Пастернак, Александр Фадеев, Николай Асеев,
                            Леонид Леонов, Анна Ахматова, Арсений Тарковский, Марина Цветаева.
                            Мемориальный музей Б. Пастернака развернут в доме, в котором жил поэт в годы
                            эвакуациив Чистополе.
                        </p>
                    </div>
                    <a href="#" class="circle-btn standard-modal__excursion-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-semicircle">
                            <use xlink:href="#semicircle"></use>
                        </svg>
                        заказать экскурсию
                    </a>

                </div>
            </div>
        </div>
    </div>
</div>