<div class="fixed-bottom-panel js-bottom-panel">
    <div class="fixed-bottom-panel__desktop">


        <div class="fixed-bottom-panel__row">
            <div class="fixed-bottom-panel__col">
                <a href="#ask-question" class="fixed-bottom-panel__ask-question js-open-modal">
                    <div class="fixed-bottom-panel__ask-question-icon">
                        <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
                            <use xlink:href="#rombus"></use>
                        </svg>
                        <svg width="45" height="45" aria-hidden="true" class="icon-question">
                            <use xlink:href="#question"></use>
                        </svg>
                    </div>
                    <div class="fixed-bottom-panel__ask-question-text">
                        Задать вопрос
                    </div>
                </a>
            </div>
            <div class="fixed-bottom-panel__col">
                <form class="fixed-bottom-panel__filters" action="/" method="GET">
                    <div class="fixed-bottom-panel__filters-inputs">
                        <div class="fixed-bottom-panel__filters-input-wrapper" id="checkin-container">
                            <label for="checkin" class="fixed-bottom-panel__filters-input-label">
                                Заезд
                            </label>
                            <input type="text" name="checkin" class="fixed-bottom-panel__filters-input js-datepicker"
                                data-container="#checkin-container" readonly="" id="checkin" value="05.11.2021">
                        </div>
                        <div class="fixed-bottom-panel__filters-input-wrapper" id="checkout-container">
                            <label for="checkout" class="fixed-bottom-panel__filters-input-label">
                                Выезд
                            </label>
                            <input type="text" name="checkout" class="fixed-bottom-panel__filters-input js-datepicker"
                                data-container="#checkout-container" readonly="" id="checkout" value="10.11.2021">
                        </div>
                        <div class="fixed-bottom-panel__filters-input-wrapper">
                            <label for="guests" class="fixed-bottom-panel__filters-input-label">
                                Гости
                            </label>
                            <div class="fixed-bottom-panel__select">
                                <select name="guests" id="guests" class="js-custom-select">
                                    <option value="1">1 Взрослый</option>
                                    <option value="2">2 Взрослых</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <button type="submit" class="fixed-bottom-panel__filters-submit">
                        <span class="fixed-bottom-panel__filters-submit-icon">
                            <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
                                <use xlink:href="#rombus"></use>
                            </svg>
                            <svg width="45" height="45" aria-hidden="true" class="icon-search">
                                <use xlink:href="#search"></use>
                            </svg>
                        </span>
                        <span class="fixed-bottom-panel__filters-submit-text">
                            Найти номер
                        </span>
                    </button>
                </form>
            </div>
        </div>
    </div>
    <div class="fixed-bottom-panel__mobile">
        <div class="fixed-bottom-panel__mobile-links">


            <a href="#ask-question" class="fixed-bottom-panel__mobile-link js-open-modal">
                Задать вопрос
            </a>
            <a href="#booking-modal" class="fixed-bottom-panel__mobile-link js-open-modal">
                Найти номер
            </a>
        </div>
    </div>

</div>