<div class="standard-modal js-modal" id="flowers-modal">
    <div class="standard-modal__inner">
        <button class="standard-modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="standard-modal__flowers">
            <div class="standard-modal__flowers-slider js-flowers-slider">
                <button
                    class="standard-modal__flowers-slider-arrow standard-modal__flowers-slider-arrow--prev standard-modal__flowers-slider-arrow--mirrored">
                    <div class="standard-modal__flowers-slider-arrow-icon">
                        <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                            <use xlink:href="#rombus-filled"></use>
                        </svg>
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </button>
                <button class="standard-modal__flowers-slider-arrow standard-modal__flowers-slider-arrow--next">
                    <div class="standard-modal__flowers-slider-arrow-icon">
                        <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                            <use xlink:href="#rombus-filled"></use>
                        </svg>
                        <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                            <use xlink:href="#arrow-right"></use>
                        </svg>
                    </div>
                </button>
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="standard-modal__flowers-slider-card">
                                <div class="standard-modal__flowers-slider-card-bg">
                                    <img data-src="img/flowers-modal.jpg" alt=""
                                        class="standard-modal__flowers-slider-card-bg-image lazyload">
                                </div>
                                <div class="standard-modal__flowers-slider-card-content">
                                    <div class="standard-modal__flowers-slider-card-content-row">
                                        <div class="standard-modal__flowers-slider-card-info">
                                            <h3 class="standard-modal__flowers-slider-card-title">
                                                Авторские букеты 5 500 - 8 000 Р
                                            </h3>
                                            <div class="standard-modal__flowers-slider-card-text">
                                                Букет №1
                                            </div>
                                        </div>
                                        <a href="#" class="circle-btn standard-modal__flowers-link">
                                            <svg width="45" height="45" aria-hidden="true" class="icon-semicircle">
                                                <use xlink:href="#semicircle"></use>
                                            </svg>
                                            Заказать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="standard-modal__flowers-slider-card">
                                <div class="standard-modal__flowers-slider-card-bg">
                                    <img data-src="img/flowers-modal.jpg" alt=""
                                        class="standard-modal__flowers-slider-card-bg-image lazyload">
                                </div>
                                <div class="standard-modal__flowers-slider-card-content">
                                    <div class="standard-modal__flowers-slider-card-content-row">
                                        <div class="standard-modal__flowers-slider-card-info">
                                            <h3 class="standard-modal__flowers-slider-card-title">
                                                Авторские букеты 5 500 - 8 000 Р
                                            </h3>
                                            <div class="standard-modal__flowers-slider-card-text">
                                                Букет №1
                                            </div>
                                        </div>
                                        <a href="#" class="circle-btn standard-modal__flowers-link">
                                            <svg width="45" height="45" aria-hidden="true" class="icon-semicircle">
                                                <use xlink:href="#semicircle"></use>
                                            </svg>
                                            Заказать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="standard-modal__flowers-slider-card">
                                <div class="standard-modal__flowers-slider-card-bg">
                                    <img data-src="img/flowers-modal.jpg" alt=""
                                        class="standard-modal__flowers-slider-card-bg-image lazyload">
                                </div>
                                <div class="standard-modal__flowers-slider-card-content">
                                    <div class="standard-modal__flowers-slider-card-content-row">
                                        <div class="standard-modal__flowers-slider-card-info">
                                            <h3 class="standard-modal__flowers-slider-card-title">
                                                Авторские букеты 5 500 - 8 000 Р
                                            </h3>
                                            <div class="standard-modal__flowers-slider-card-text">
                                                Букет №1
                                            </div>
                                        </div>
                                        <a href="#" class="circle-btn standard-modal__flowers-link">
                                            <svg width="45" height="45" aria-hidden="true" class="icon-semicircle">
                                                <use xlink:href="#semicircle"></use>
                                            </svg>
                                            Заказать
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>