<footer class="page-footer">
    <div class="container">
        <div class="page-footer__row">
            <nav class="page-footer__nav">
                <ul class="page-footer__nav-list">
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            На главную
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Салон красоты
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Отель
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Фитнес клуб
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Кухня
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Медицина и косметология
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            SPA
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Детский клуб
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Оздоровительные программы
                        </a>
                    </li>
                    <li class="page-footer__nav-list-item">
                        <a href="#" class="page-footer__nav-link">
                            Мероприятия
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="page-footer__secondary-nav">
                <a href="#" class="page-footer__secondary-nav-link">
                    Галерея
                </a>
                <a href="#" class="page-footer__secondary-nav-link">
                    Философия LUCIANO
                </a>
                <a href="#" class="page-footer__secondary-nav-link">
                    Контакты
                </a>
            </div>
            <div class="page-footer__contacts">
                <a href="tel:+7 (843) 2000-900" class="page-footer__phone-link">
                    +7 (843) 2000-900
                </a>
                <a href="mailto:reservations@luciano.ru" class="page-footer__mail-link">reservations@luciano.ru</a>

                <div class="page-footer__address">
                    <p>
                        г. Казань, ул. Островского, 26
                    </p>
                </div>
            </div>
        </div>
        <div class="page-footer__row">
            <div class="page-footer__copyright">
                © Luciano, 2021
            </div>
            <ul class="page-footer__social-list">
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-facebook">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="page-footer__social-list-item">
                    <a href="#" class="page-footer__social-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-vkontakte">
                            <use xlink:href="#vkontakte"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <a href="#" class="page-footer__made-by">
                Создание сайта
                <img src="img/mw-logo.svg" alt="" class="page-footer__made-by-logo">
            </a>
        </div>
    </div>
</footer>