<header class="page-header">
    <div class="container">
        <div class="page-header__row">
            <a href="index.html" class="page-header__logo">
                <img src="img/logo.svg" alt="" class="page-header__logo-image" width="144">
            </a>
            <div class="page-header__controls">
                <div class="page-header__languages">
                    <a href="#" class="page-header__languages-link active">
                        Ру
                    </a>
                    <a href="#" class="page-header__languages-link">
                        En
                    </a>
                </div>
                <button class="page-header__burger">
                    <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
                        <use xlink:href="#rombus"></use>
                    </svg>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>
        </div>
    </div>
</header>