<div class="menu">
    <div class="menu__inner">
        <nav class="menu__nav">
            <a href="#" class="menu__nav-link">
                На главную
            </a>
            <a href="#" class="menu__nav-link">
                Отель
            </a>
            <a href="#" class="menu__nav-link">
                Кухня
            </a>
            <a href="#" class="menu__nav-link">
                SPA
            </a>
            <a href="#" class="menu__nav-link">
                Оздоровительные программы
            </a>
            <a href="#" class="menu__nav-link">
                Салон красоты
            </a>
            <a href="#" class="menu__nav-link">
                Фитнес клуб
            </a>
            <a href="#" class="menu__nav-link">
                Медицина и косметология
            </a>
            <a href="#" class="menu__nav-link">
                Детский клуб
            </a>
            <a href="#" class="menu__nav-link">
                Мероприятия
            </a>
        </nav>
        <div class="menu__row">
            <div class="menu__secondary-nav">
                <a href="#" class="menu__secondary-nav-link">
                    Галерея
                </a>
                <a href="#" class="menu__secondary-nav-link">
                    Философия LUCIANO
                </a>
                <a href="#" class="menu__secondary-nav-link">
                    Контакты
                </a>
            </div>
            <ul class="menu__social-list">
                <li class="menu__social-list-item">
                    <a href="#" class="menu__social-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-instagram">
                            <use xlink:href="#instagram"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu__social-list-item">
                    <a href="#" class="menu__social-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-facebook">
                            <use xlink:href="#facebook"></use>
                        </svg>
                    </a>
                </li>
                <li class="menu__social-list-item">
                    <a href="#" class="menu__social-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-vkontakte">
                            <use xlink:href="#vkontakte"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>