<div class="modal js-modal" id="booking-modal">

    <button class="modal__close js-close-modal">
        <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
            <use xlink:href="#rombus"></use>
        </svg>
        <span></span>
        <span></span>
        <span></span>
    </button>

    <h3 class="modal__heading">
        Забронировать номер
    </h3>
    <form class="modal__filters" method="GET" action="/">
        <div class="modal__filters-fields">
            <div class="modal__filters-field" id="modal-checkin-container">
                <label for="modal-checkin" class="modal__filters-label">
                    Заезд
                </label>
                <input type="text" class="modal__filters-input js-datepicker" id="modal-checkin" value="05.11.2021"
                    readonly data-container="#modal-checkin-container">

            </div>
            <div class="modal__filters-field" id="modal-checkout-container">
                <label for="modal-checkout" class="modal__filters-label">
                    Выезд
                </label>
                <input type="text" class="modal__filters-input js-datepicker" id="modal-checkout" value="10.11.2021"
                    readonly data-container="#modal-checkout-container">

            </div>
            <div class="modal__filters-field">
                <label for="modal-guests" class="modal__filters-label">
                    Гости
                </label>
                <div class="modal__select">
                    <select name="guests" id="modal-guests" class="js-custom-select">
                        <option value="1">1 Взрослый</option>
                        <option value="2">2 Взрослых</option>
                    </select>
                </div>
            </div>
        </div>
        <button class="modal__submit" type="submit">
            НАЙТИ
        </button>
    </form>

</div>



<div class="ask-question js-modal" id="ask-question">
    <div class="ask-question__controls">
        <div class="container">
            <div class="ask-question__controls-row">
                <button class="ask-question__inner-close js-close-modal">
                    <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
                        <use xlink:href="#rombus"></use>
                    </svg>
                    <span></span>
                    <span></span>
                    <span></span>
                </button>
            </div>

        </div>
    </div>


    <div class="ask-question__inner">
        <h3 class="ask-question__heading">
            Задать вопрос
        </h3>
        <form action="/" method="POST" class="ask-question__form" data-need-validation="">
            <div class="ask-question__form-fields">
                <div class="ask-question__form-field">
                    <label class="ask-question__form-label">
                        <input type="text" name="name" class="ask-question__form-input"
                            placeholder="Иванов иван иванович" required>
                        <span class="ask-question__form-label-text">
                            Фамилия Имя Отчетсво
                        </span>
                    </label>
                </div>
                <div class="ask-question__form-field">
                    <label class="ask-question__form-label">
                        <input type="tel" name="phone" class="ask-question__form-input js-phone-input"
                            placeholder="+0 (000) 000-00-00" required data-parsley-phone="">
                        <span class="ask-question__form-label-text">
                            Ваш телефон
                        </span>
                    </label>
                </div>
                <div class="ask-question__form-field">
                    <label class="ask-question__form-label">
                        <input type="email" name="email" class="ask-question__form-input"
                            placeholder="sample@domain.com" required>
                        <span class="ask-question__form-label-text">
                            E-mail
                        </span>
                    </label>
                </div>
                <div class="ask-question__form-field">
                    <label class="ask-question__form-label">
                        <textarea name="comment" class="ask-question__form-input"></textarea>
                        <span class="ask-question__form-label-text">
                            Комментарий
                        </span>
                    </label>
                </div>
            </div>
            <div class="ask-question__form-controls">
                <label class="ask-question__form-checkbox">
                    <input type="checkbox" name="policy" class="ask-question__form-checkbox-input" checked required>
                    <span class="ask-question__form-checkbox-mark">

                    </span>
                    <span class="ask-question__form-checkbox-text">
                        Соглашаюсь на обработку <a href="#">персональных данных</a>
                    </span>
                </label>
                <button class="ask-question__form-submit" type="submit">
                    Отправить
                </button>
            </div>
        </form>
    </div>
</div>