<div class="standard-modal standard-modal--excursion js-modal" id="schedule-modal">
    <div class="standard-modal__inner">
        <button class="standard-modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="standard-modal__schedule">
            <img src="img/schedule.jpg" alt="" class="standard-modal__schedule-image">
            <div class="standard-modal__schedule-row">
                <div class="standard-modal__schedule-col">
                    <h3 class="standard-modal__schedule-name">
                        Power training
                    </h3>
                    <div class="standard-modal__schedule-heading-text">
                        время посещения: Среда с 12:00 до 12:55
                    </div>
                    <div class="standard-modal__schedule-trainer">
                        <div class="standard-modal__schedule-trainer-photo-container">
                            <img src="img/trainer.jpg" alt="" class="standard-modal__schedule-trainer-photo">
                        </div>
                        <div class="standard-modal__schedule-trainer-content">
                            <div class="standard-modal__schedule-trainer-role">
                                Тренер
                            </div>
                            <div class="standard-modal__schedule-trainer-name">
                                Панарин Игорь
                            </div>
                        </div>
                    </div>
                </div>
                <div class="standard-modal__schedule-col">
                    <div class="standard-modal__schedule-text">
                        Cиловая/круговая тренировка. Одно из самых энергоемких занятий, развивающих все основные двигательные качества. На уроке делаем акцент на проработку одновременно нескольких мышечных групп с участием мышц стабилизаторов корпуса.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>