<div class="standard-modal standard-modal--excursion js-modal" id="training-modal">
    <div class="standard-modal__inner">
        <button class="standard-modal__close js-close-modal">
            <svg width="45" height="45" aria-hidden="true" class="icon-modal-close">
                <use xlink:href="#modal-close"></use>
            </svg>
        </button>
        <div class="standard-modal__training">
            <img src="img/training.jpg" alt="" class="standard-modal__training-image">
            <div class="standard-modal__training-content">
                <h3 class="standard-modal__training-heading">
                    ФИТНЕС-ПРОГРАММА СТАБИЛЬНАЯ СИЛА:
                </h3>
                <ul class="standard-modal__training-list">
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                YOGA 60 НАЧАЛЬНЫЙ КЛАСС
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Базовый класс Йога практики. Урок состоит из асан, дыхательных техник и медитаций,
                                    развивает человека всесторонне – через тело, ум и эмоции.
                                    Занятие направлено на гармонизацию тела и разума. Для всех уровней подготовленности.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                YOGA 60 ПРОДВИНУТЫЙ КЛАСС
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Продвинутый класс Йога практики. Комплекс усложненных асан. Для среднего уровня
                                    подготовки и выше.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                YOGA INTENSIVE CLASS 90
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Активная практика для занимающихся больше года. Осваиваем
                                    сложные перевернутые позы, балансы на руках, динамические связки.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                YOGA SPINE (ЗДОРОВАЯ СПИНА)
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Йога - практика со специальным комплексом упражнений, направленных на укрепление
                                    мышц спины и снятие боли. Для всех уровней подготовленности.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                УНИВЕРСАЛЬНАЯ ЙОГА 120
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Это полная система Йоги, которая даёт понимание практики от начального уровня до
                                    конечной реализации. В методике Универсальной Йоги собран весь
                                    доступный арсенал Йоги: Асаны и Виньясы, Пранаямы, Концентрация и Медитация,
                                    выполнение Крий, методы достижения двойственного состояния сознания.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                БИОМЕХАНИКА В ЙОГЕ
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Биомеханика в асанах. Система обучения сенсомоторных и мета навыков , а так же
                                    развитие психофизических качеств.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                YOGA MEDITATION
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Класс, направленный на работу с сознанием и концентрацией внимания. Включает в себя
                                    практику асан/положений тела, виньяс/динамических переходов, пранаям/дыхательных
                                    техник и саму медитацию. Класс направлен на гармонизацию взаимосвязи разума и тела.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                MAMA YOGA
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Йога практика для беременных и молодых мам. Специальный комплекс упражнений, который
                                    позволит прекрасно чувствовать себя в столь замечательный период.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                YOGA ЖЕНСКИЙ КЛАСС
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Мягкая практика для женщин в период менструации, нормализация цикла. Подготовка к
                                    климаксу и в климакс. Занятие поможет убрать болевые симптомы пмс, гармонизировать
                                    работу органов малого таза, раскрыть женственность, улучшить настроение.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                ДОСКА САДХУ (ОЗНАКОМИТЕЛЬНЫЙ КЛАСС)
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Медитативная практика гвоздестояния. Занятие направлено на повышения уровня
                                    осознанности. Вы сможете увидеть свои реальные желания и потребности. Осознать
                                    шаблонные реакции. Проработать ограничивающие
                                    убеждения, устаревшие паттерны поведения.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                ДАО ЦИ-ГУН (CHI GUN)
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    На уроке представлено даосское направление практики ци-гун. Занятие проходит стоя с
                                    концентрацией внимания на медленном выполнении волновых
                                    движений в ритме с дыханием для гармонизации общего состояния организма.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                CORDEN: OSTEO RELAX (PRACTICE)
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Урок проходит лежа на специальном аппарате для коррекции позвоночника и расслабления
                                    околопозвоночных мышц. Есть противопоказания!
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                PILATES REFORMER BEGINNER (БАЗОВЫЙ УРОВЕНЬ) И INTERMEDIATE (СРЕДНИЙ УРОВЕНЬ)
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Система упражнений, направленных на контроль, координацию тела и духа. Результатом
                                    регулярных занятий становятся оздоровление суставов и укрепление мышц, снятие
                                    напряжений и болей в теле, коррекция веса и улучшение осанки.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                REFORMER
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Это специальный тренажер для занятий пилатесом. Pilates Reformer подходит
                                    людям с любым уровнем физической подготовки и разного возраста.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                BEGINNER
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Для начального уровня подготовки.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                INTERMEDIATE
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Занятие включает более сложные вариации упражнений. Для среднего
                                    уровня подготовки и выше.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                STRETCHING
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Комплекс упражнений, направленных на развитие гибкости, растяжки и расслабление,
                                    восстановление после интенсивных тренировок. Для всех уровней подготовленности.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                МФР + STRETCHING
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    «Два в одном» - растяжка и одновременно массаж фасции с использованием специального
                                    дополнительного оборудования - массажных роллов и мячиков
                                    разных размеров с различной поверхностью. Для всех уровней подготовленности.
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                SOFT CLASS
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Низкоинтенсивная тренировка на всё тело. Для начального и среднего уровня
                                    подготовки
                                </p>
                            </div>
                        </div>
                    </li>
                    <li class="standard-modal__training-list-item">
                        <div class="standard-modal__training-card">
                            <h3 class="standard-modal__training-card-title">
                                ПОЮЩИЕ ЧАШИ
                            </h3>
                            <div class="standard-modal__training-card-text">
                                <p>
                                    Уникальный инструмент, который используют в духовных практиках и звукотерапии. Их
                                    чистый звук на высоких тонах и вибрации способны снимать напряжение, убирать зажимы
                                    и боль, негативные эмоции, выравнивать психо-эмоциональное состояние.
                                </p>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>


        </div>
    </div>
</div>