{{#extend "layout"}}
{{#content "main"}}

<section class="home-section home-section--align-right js-home-section-gallery">
    <div class="home-section__bg" style="--overlay-opacity: 0;">
        <div class="home-section__bg-parallax-layer">
            <div class="home-section__bg-slider">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="home-section__bg-slider-card" style="--overlay-opacity: 0;">
                                <img src="img/home-section-news.jpg" alt="" class="home-section__bg-slider-card-image">
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="home-section__bg-slider-card" style="--overlay-opacity: 0.3;">

                                <picture>
                                    <source srcset="img/intro-sections/4-mobile.jpg" media="(max-width: 640px)">
                                    <img src="img/intro-sections/4.jpg" alt="MDN"
                                        class="home-section__bg-slider-card-image">
                                </picture>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="home-section__bg-slider-card" style="--overlay-opacity: 0;">
                                <img src="img/home-section-news.jpg" alt="" class="home-section__bg-slider-card-image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">
                    <div class="home-section__slider-arrows">
                        <button
                            class="home-section__slider-arrow home-section__slider-arrow--prev home-section__slider-arrow--mirrored">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </button>
                        <button class="home-section__slider-arrow home-section__slider-arrow--next">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            Новости
                        </h2>
                        <div class="home-section__text">
                            <p>
                                Ценителей высокой кухни порадуют рестораны комплекса, где можно отведать настоящие
                                произведения гастрономического искусства и провести незабываемый вечер.

                            </p>
                            <p>
                                Ценителей высокой кухни порадуют рестораны комплекса, где можно отведать настоящие
                                произведения гастрономического искусства и провести незабываемый вечер.
                            </p>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.3;">
        <div class="home-section__bg-parallax-layer">

            <picture>
                <source srcset="img/intro-sections/4-mobile.jpg" media="(max-width: 640px)">
                <img src="img/intro-sections/4.jpg" alt="MDN">
            </picture>
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            Кухня
                        </h2>
                        <div class="home-section__text">
                            <p>
                                Ценителей высокой кухни порадуют рестораны комплекса, где можно отведать настоящие
                                произведения гастрономического искусства и провести незабываемый вечер
                            </p>
                        </div>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Все рестораны и бары
                        </a>
                    </div>
                </div>
                <div class="home-section__col">

                </div>
            </div>
        </div>
    </div>
</section>



<section class="home-section home-section--align-right">
    <div class="home-section__bg" style="--overlay-opacity: 0.2;">
        <div class="home-section__bg-parallax-layer">


            <picture>
                <source srcset="img/intro-sections/5-mobile.jpg" media="(max-width: 640px)">
                <img src="img/intro-sections/5.jpg" alt="MDN">
            </picture>
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">

                </div>
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            SPA
                        </h2>
                        <div class="home-section__text">
                            <p>
                                Место, где соединились воедино многовековые традиции и последние достижения современных
                                технологий, где сошлись Восток и Запад. Традиции многих культур и поколений в сочетании
                                с современными разработками, открывают безграничные возможности для совершенствования
                                тела и духа
                            </p>
                        </div>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <ul class="services__list">
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.2;">
                        <img src="img/services/1.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Салон красоты
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/2.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Медицина и&nbsp;косметология
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/3.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Фитнес клуб
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/4.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Мероприятия
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item services__list-item--large">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/5.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Детский клуб
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="services">
    <div class="container">
        <ul class="services__list">

            <li class="services__list-item services__list-item--large">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.4;">
                        <img src="img/services/6.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Детский клуб
                            </h3>

                            <div class="services__card-link">
                                <div class="services__card-icon">
                                    <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                        <use xlink:href="#rombus-filled"></use>
                                    </svg>
                                    <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                        <use xlink:href="#arrow-right"></use>
                                    </svg>
                                </div>
                                Перейти в 3D-тур
                            </div>

                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="standard-header">
    <div class="standard-header__bg">
        <img src="img/decor.svg" alt="" class="standard-header__bg-decor">
    </div>
    <div class="container">
        <div class="standard-header__content">


            <div class="standard-header__breadcrumbs">
                <a href="#" class="standard-header__breadcrumbs-link">
                    Главная
                </a>
                ·
                <a href="#" class="standard-header__breadcrumbs-link">
                    Отель
                </a>
                ·
                <a href="#" class="standard-header__breadcrumbs-link">
                    Программы с проживанием
                    <svg width="45" height="45" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="standard-header__heading-wrapper">
                <h2 class="standard-header__heading">
                    Программы<br> с проживанием

                </h2>
            </div>
            {{> fixed-bottom-panel }}
        </div>

    </div>
</section>
<section class="standard-header standard-header--compact">
    <div class="standard-header__bg">
        <img src="img/decor.svg" alt="" class="standard-header__bg-decor">
    </div>
    <div class="container">
        <div class="standard-header__content">


            <div class="standard-header__breadcrumbs">
                <a href="#" class="standard-header__breadcrumbs-link">
                    Главная
                </a>
                ·

                <a href="#" class="standard-header__breadcrumbs-link">
                    SPA
                    <svg width="45" height="45" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="standard-header__heading-wrapper">
                <h2 class="standard-header__heading">
                    SPA-ПРОГРАММЫ

                </h2>
                <div class="standard-header__heading-text">
                    <p>
                        единственный в Татарстане центр подобного класса и формата
                    </p>
                </div>
            </div>
            <div class="standard-header__bottom-nav">
                <a href="#" class="standard-header__nav-link active">
                    SPA Программы
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="standard-header__nav-link">
                    SPA процедуры
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="standard-header__nav-link">
                    Банные комплексы
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="standard-header__nav-link">
                    Гостевые визиты
                </a>
            </div>

        </div>

    </div>
</section>
<section class="standard-header standard-header--compact">
    <div class="standard-header__bg" style="--overlay-opacity: 0.5;">
        <img src="img/spa.jpg" alt="" class="standard-header__bg-image">
    </div>
    <div class="container">
        <div class="standard-header__content">


            <div class="standard-header__breadcrumbs">
                <a href="#" class="standard-header__breadcrumbs-link">
                    Главная
                </a>
                ·

                <a href="#" class="standard-header__breadcrumbs-link">
                    СПА-КОМПЛЕКС
                    <svg width="45" height="45" aria-hidden="true" class="icon-breadcrumbs-arrow">
                        <use xlink:href="#breadcrumbs-arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="standard-header__heading-wrapper">
                <h2 class="standard-header__heading">
                    СПА-КОМПЛЕКС

                </h2>
                <div class="standard-header__heading-text">
                    <p>
                        единственный в Татарстане центр подобного класса и формата
                    </p>
                </div>
            </div>
            <div class="standard-header__bottom-nav">
                <a href="#" class="standard-header__nav-link">
                    SPA Программы
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="standard-header__nav-link">
                    SPA процедуры
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="standard-header__nav-link">
                    Банные комплексы
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="standard-header__nav-link">
                    Гостевые визиты
                </a>
            </div>

        </div>

    </div>
</section>
<section class="standard-header standard-header--compact">
    <div class="standard-header__bg" style="--overlay-opacity: 0.3;">
        <img src="img/hotel.jpg" alt="" class="standard-header__bg-image">
    </div>
    <div class="container">
        <div class="standard-header__content">


            <div class="standard-header__breadcrumbs">
                <a href="#" class="standard-header__breadcrumbs-link">
                    Главная
                </a>
                ·

                <a href="#" class="standard-header__breadcrumbs-link">
                    Отель

                </a>
            </div>
            <div class="standard-header__heading-wrapper">
                <h2 class="standard-header__heading">
                    Консьерж-сервис<br>
                    LUCIANO

                </h2>
                <div class="standard-header__heading-text">
                    <p>
                        Ваш личный ассистент по созданию незабываемого отдыха
                    </p>
                </div>
                <div class="standard-header__contacts">
                    <svg width="45" height="45" aria-hidden="true"
                        class="icon-header-contacts standard-header__contacts-icon">
                        <use xlink:href="#header-contacts"></use>
                    </svg>
                    <ul class="standard-header__contacts-list">
                        <li class="standard-header__contacts-list-item">
                            <a href="#" class="standard-header__contacts-link">+7 (843) 200-09-58
                            </a>
                        </li>
                        <li class="standard-header__contacts-list-item">
                            <a href="#" class="standard-header__contacts-link">+7 (917) 871-35-91
                            </a>
                        </li>
                    </ul>
                </div>
            </div>


        </div>

    </div>
</section>
<section class="standard-header standard-header--compact">
    <div class="standard-header__bg" style="--overlay-opacity: 0.5;">
        <img src="img/apartment.jpg" alt="" class="standard-header__bg-image">
    </div>
    <div class="container">
        <div class="standard-header__content">


            <div class="standard-header__breadcrumbs">
                <a href="#" class="standard-header__breadcrumbs-link">
                    Главная
                </a>
                ·
                <a href="#" class="standard-header__breadcrumbs-link">
                    Отель

                </a>
                ·
                <a href="#" class="standard-header__breadcrumbs-link">
                    Категории номеров

                </a>
            </div>
            <div class="standard-header__heading-wrapper">
                <h2 class="standard-header__heading">
                    Джуниор сюит<br>делюкс
                </h2>

                <div class="standard-header__apartment-info">
                    <div class="standard-header__apartment-info-features">
                        <div class="standard-header__apartment-info-feature">
                            <svg width="45" height="45" aria-hidden="true" class="icon-bed">
                                <use xlink:href="#bed"></use>
                            </svg>
                            На двоих
                        </div>
                        <div class="standard-header__apartment-info-feature">
                            <svg width="45" height="45" aria-hidden="true" class="icon-area">
                                <use xlink:href="#area"></use>
                            </svg>
                            45 м2
                        </div>
                    </div>
                    <a href="#" class="standard-header__apartment-info-tour-link">
                        <svg width="45" height="45" aria-hidden="true" class="icon-tour">
                            <use xlink:href="#tour"></use>
                        </svg>
                        3D-тур
                    </a>
                </div>
            </div>


        </div>

    </div>
</section>


<section class="text-block">
    <div class="container">
        <div class="text-block__content text-block__content--small">
            <h3>
                Кому подходит программа?
            </h3>
            <p>
                При наличии нарушений в питании, избыточном весе, различных аллергических заболеваниях, нарушениях
                работы кишечника, отсутствии энергии и длительном стрессе.

            </p>
            <p>
                Кто готов полностью изменить свою жизнь, чувствовать себя бодрым, энергичным, обратить вспять все
                зарождающиеся изменения, ведущие к различным заболеваниям и ухудшению самочувствия.

            </p>
        </div>
    </div>
</section>

<section class="text-block">
    <div class="container">
        <div class="text-block__content">
            <p>
                Современный темп жизни мешает надолго выпасть из ра-
                бочего ритма. Чтобы оставаться в тонусе и не терять по-
                ложительного настроя нужно сделать паузу в ежеднев-
                ном круговороте дел - устроить себе спа - выходные.
            </p>
        </div>
    </div>
</section>


<section class="tabs-block js-tabs">
    <div class="container">
        <div class="tabs-block__nav-wrapper">


            <div class="tabs-block__nav">
                <a href="#" class="tabs-block__nav-btn js-tabs-btn active">
                    Меню Terrace
                </a>
                <a href="#" class="tabs-block__nav-btn js-tabs-btn">
                    карта бара
                </a>
                <a href="#" class="tabs-block__nav-btn js-tabs-btn">
                    Детское меню
                </a>
            </div>

        </div>
        <div class="tabs-block__items">
            <div class="tabs-block__item js-tabs-item">
                <div class="text-block__content">
                    <p>
                        Современный темп жизни мешает надолго выпасть из ра-
                        бочего ритма. Чтобы оставаться в тонусе и не терять по-
                        ложительного настроя нужно сделать паузу в ежеднев-
                        ном круговороте дел - устроить себе спа - выходные.
                    </p>
                </div>
            </div>
            <div class="tabs-block__item js-tabs-item">
                <div class="text-block__content">
                    <p>
                        А я сейчас вам покажу, откуда на Беларусь готовилось нападение. И если бы за шесть часов до
                        операции не был нанесён превентивный удар по позициям (четыре позиции, я сейчас покажу карту, я
                        принёс), они бы атаковали наши войска Беларуси и России, которые были на учении. Поэтому не мы
                        развязали эту войну, у нас совесть чиста. Хорошо, что начали: биологическое оружие, самые
                        большие электростанции атомные и всё это было готово взорвать.
                    </p>
                </div>
            </div>
            <div class="tabs-block__item js-tabs-item">
                <div class="text-block__content">
                    <p>
                        Современный темп жизни мешает надолго выпасть из ра-
                        бочего ритма. Чтобы оставаться в тонусе и не терять по-
                        ложительного настроя нужно сделать паузу в ежеднев-
                        ном круговороте дел - устроить себе спа - выходные.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery">
    <div class="container">
        <h2 class="gallery__heading">
            Фотогалерея
        </h2>
        <div class="gallery__slider js-gallery-slider">
            <button class="gallery__slider-arrow gallery__slider-arrow--prev">
                <svg width="45" height="45" aria-hidden="true" class="icon-gallery-slider-arrow-left">
                    <use xlink:href="#gallery-slider-arrow-left"></use>
                </svg>
            </button>
            <div class="gallery__slider-inner">
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/1.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/2.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/3.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/4.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/1.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/2.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/3.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/4.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/1.jpg" alt="" class="gallery__slider-card-image">
                </div>
                <div class="gallery__slider-card">
                    <img src="img/gallery-slider/2.jpg" alt="" class="gallery__slider-card-image">
                </div>
            </div>
            <button class="gallery__slider-arrow gallery__slider-arrow--next">
                <svg width="45" height="45" aria-hidden="true" class="icon-gallery-slider-arrow-right">
                    <use xlink:href="#gallery-slider-arrow-right"></use>
                </svg>
            </button>
        </div>
    </div>
</section>

<section class="quote">
    <div class="container">
        <div class="quote__content">
            <div class="quote__text">
                <p>
                    Казань – необыкновенный город с множеством интересных локаций. В этой подборке вы найдете must visit
                    места,
                    которые я с удовольствием рекомендую нашим гостям!
                </p>
            </div>
            <div class="quote__author">
                <div class="quote__author-image-container">
                    <img src="img/author.jpg" alt="" class="quote__author-image">
                </div>
                <div class="quote__author-info">
                    <div class="quote__author-name">
                        Мария белинская
                    </div>
                    <div class="quote__author-role">
                        Шеф-повар Luciano<br> Hotel & Spa
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




<section class="quote">
    <div class="container">
        <div class="quote__content">
            <div class="quote__text">
                <p>
                    Бокс помогает развить такие важные для человека качества как: выносливость, храбрость, воля к
                    победе, целеустремленность и настойчивость.
                </p>
            </div>
            <div class="quote__author">
                <div class="quote__author-image-container">
                    <img src="img/author-2.jpg" alt="" class="quote__author-image">
                </div>
                <div class="quote__author-info">
                    <div class="quote__author-name">
                        РУСЛАН КУЗНЕЦОВ
                    </div>
                    <div class="quote__author-role">
                        Тренер по боксу LUCIANO
                    </div>
                    <a href="#" class="quote__author-link">
                        ДОСТИЖЕНИЯ
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="video">
    <div class="container">
        <div class="video__card-wrapper">


            <a href="#" class="video__card">
                <img src="img/video-preview.jpg" alt="" class="video__card-preview">
                <div class="video__card-text">
                    Смотреть видео
                </div>
            </a>
        </div>
    </div>
</section>


<section class="restaurant-menu">
    <div class="container">
        <h2 class="restaurant-menu__heading">
            К Вашим услугам
        </h2>
        <div class="restaurant-menu__nav-wrapper">
            <a href="#" class="restaurant-menu__nav-btn">
                <svg width="45" height="45" aria-hidden="true" class="icon-gallery-slider-arrow-left">
                    <use xlink:href="#gallery-slider-arrow-left"></use>
                </svg>
            </a>
            <div class="restaurant-menu__nav">
                <a href="#" class="restaurant-menu__nav-link active">
                    Холодные
                    закуски
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="restaurant-menu__nav-link">
                    Салаты
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="restaurant-menu__nav-link">
                    Горячие
                    закуски
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="restaurant-menu__nav-link">
                    супы
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="restaurant-menu__nav-link">
                    Напитки
                </a>
                <svg width="45" height="45" aria-hidden="true" class="icon-divider">
                    <use xlink:href="#divider"></use>
                </svg>
                <a href="#" class="restaurant-menu__nav-link">
                    Десерты
                </a>
            </div>
            <a href="#" class="restaurant-menu__nav-btn">
                <svg width="45" height="45" aria-hidden="true" class="icon-gallery-slider-arrow-right">
                    <use xlink:href="#gallery-slider-arrow-right"></use>
                </svg>
            </a>
        </div>
        <ul class="restaurant-menu__list">
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/1.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Салат Татарстан с языком
                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            220 г
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/2.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Бульон с эчпочмаком

                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            1,5-2 часа
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/3.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Азу по-татарски
                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            Азу по-татарски
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/1.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Салат Татарстан с языком
                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            220 г
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/2.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Бульон с эчпочмаком

                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            1,5-2 часа
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/3.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Азу по-татарски
                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            Азу по-татарски
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/1.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Салат Татарстан с языком
                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            220 г
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/2.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Бульон с эчпочмаком

                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            1,5-2 часа
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
            <li class="restaurant-menu__list-item">
                <a href="#" class="restaurant-menu__card">
                    <div class="restaurant-menu__card-image-container">
                        <img src="img/restaurant-menu/3.jpg" alt="" class="restaurant-menu__card-image">
                    </div>
                    <h3 class="restaurant-menu__card-title">
                        Азу по-татарски
                    </h3>
                    <div class="restaurant-menu__card-row">
                        <div class="restaurant-menu__card-info">
                            Азу по-татарски
                        </div>
                        <svg width="45" height="45" aria-hidden="true" class="icon-details">
                            <use xlink:href="#details"></use>
                        </svg>
                    </div>
                </a>
            </li>
        </ul>

        <a href="#" class="show-more restaurant-menu__show-more">
            Показать еще
        </a>

    </div>
</section>


<section class="excursions">
    <div class="container">
        <h2 class="excursions__heading">
            Экскурсии
        </h2>
        <div class="excursions__heading-text">
            <p>
                Наша служба консьержей с удовольствием поможет вам подобрать маршрут экскурсии, исходя из Ваших
                предпочтений
            </p>
        </div>
        <ul class="excursions__list">
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/excursions/1.jpg" alt="" class="excursions__card-image">
                    </div>
                    <div class="excursions__card-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        1,5-2 часа
                    </div>
                    <h3 class="excursions__card-title">
                        Экскурсия по Старо-Татарской Слободе (пешеходная)
                    </h3>
                    <div class="excursions__card-price">
                        5 600 ₽
                    </div>
                    <div class="excursions__card-remark">
                        на русском языке
                    </div>
                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/excursions/2.jpg" alt="" class="excursions__card-image">
                    </div>
                    <div class="excursions__card-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        1,5-2 часа
                    </div>
                    <h3 class="excursions__card-title">
                        Экскурсия по Старо-Татарской Слободе (пешеходная)
                    </h3>
                    <div class="excursions__card-price">
                        5 600 ₽
                    </div>
                    <div class="excursions__card-remark">
                        на русском языке
                    </div>
                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/excursions/3.jpg" alt="" class="excursions__card-image">
                    </div>
                    <div class="excursions__card-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        1,5-2 часа
                    </div>
                    <h3 class="excursions__card-title">
                        Экскурсия по Старо-Татарской Слободе (пешеходная)
                    </h3>
                    <div class="excursions__card-price">
                        5 600 ₽
                    </div>
                    <div class="excursions__card-remark">
                        на русском языке
                    </div>
                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/excursions/4.jpg" alt="" class="excursions__card-image">
                    </div>
                    <div class="excursions__card-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        5 часов
                    </div>
                    <h3 class="excursions__card-title">
                        Остров-град Свияжск
                    </h3>
                    <div class="excursions__card-price">
                        13 900 ₽
                    </div>
                    <div class="excursions__card-remark">
                        на русском языке
                    </div>
                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/excursions/5.jpg" alt="" class="excursions__card-image">
                    </div>
                    <div class="excursions__card-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        12 часов
                    </div>
                    <h3 class="excursions__card-title">
                        ЭКСКУРСИЯ в Елабугу
                    </h3>
                    <div class="excursions__card-price">
                        33 400 ₽
                    </div>
                    <div class="excursions__card-remark">
                        на русском языке
                    </div>
                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/excursions/6.jpg" alt="" class="excursions__card-image">
                    </div>
                    <div class="excursions__card-time">
                        <svg width="45" height="45" aria-hidden="true" class="icon-clock">
                            <use xlink:href="#clock"></use>
                        </svg>
                        4 часа
                    </div>
                    <h3 class="excursions__card-title">
                        РАИФСКИЙ БОГОРОДИЦКИЙ МУЖСКОЙ МОНАСТЫРЬ
                        и Вселенский храм
                    </h3>
                    <div class="excursions__card-price">
                        11 400 ₽
                    </div>
                    <div class="excursions__card-remark">
                        на русском языке
                    </div>
                </a>
            </li>

        </ul>
        <a href="#" class="show-more excursions__show-more">
            Показать еще
        </a>
    </div>
</section>
<section class="excursions excursions--grey">
    <div class="container">
        <h2 class="excursions__heading">
            Флористика
        </h2>
        <div class="excursions__heading-remark">
            Состав букетов меняется в зависимости от сезона
        </div>
        <div class="excursions__heading-text">
            <p>
                Любой букет или композицию Вы можете дополнить открыткой (мы с радостью поможем придумать трогательный
                текст), десертами или подарком
            </p>
        </div>
        <ul class="excursions__list">
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/flowers/1.jpg" alt="" class="excursions__card-image">
                    </div>

                    <h3 class="excursions__card-title">
                        Авторские букеты
                    </h3>
                    <div class="excursions__card-price">
                        До 5 500 ₽
                    </div>

                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/flowers/2.jpg" alt="" class="excursions__card-image">
                    </div>

                    <h3 class="excursions__card-title">
                        Авторские букеты
                    </h3>
                    <div class="excursions__card-price">
                        5 500 - 8 000 ₽
                    </div>

                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/flowers/3.jpg" alt="" class="excursions__card-image">
                    </div>

                    <h3 class="excursions__card-title">
                        Авторские букеты
                    </h3>
                    <div class="excursions__card-price">
                        8 500 - 11 000 ₽
                    </div>

                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/flowers/4.jpg" alt="" class="excursions__card-image">
                    </div>

                    <h3 class="excursions__card-title">
                        Авторские букеты
                    </h3>
                    <div class="excursions__card-price">
                        11 500 - 14 000 ₽
                    </div>

                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/flowers/5.jpg" alt="" class="excursions__card-image">
                    </div>

                    <h3 class="excursions__card-title">
                        Авторские букеты
                    </h3>
                    <div class="excursions__card-remark">
                        Уточняйте цену у консультанта
                    </div>

                </a>
            </li>
            <li class="excursions__list-item">
                <a href="#" class="excursions__card">
                    <div class="excursions__card-image-container">
                        <img src="img/flowers/6.jpg" alt="" class="excursions__card-image">
                    </div>

                    <h3 class="excursions__card-title">
                        Авторские букеты
                    </h3>
                    <div class="excursions__card-remark">
                        Мы оформим для вас понравившуюся цветочную композицию в выбранную вамиупаковку: деревянный ящик,
                        плетеная корзина,шляпная коробка
                    </div>

                </a>
            </li>


        </ul>

    </div>
</section>


<section class="links">
    <div class="links__row">
        <a href="#" class="links__btn">

            <div class="links__btn-text">
                Меню для Право-Булачной
            </div>
            <div class="links__btn-content">
                <div class="links__btn-icon">
                    <svg width="45" height="45" aria-hidden="true" class="icon-pdf">
                        <use xlink:href="#pdf"></use>
                    </svg>

                </div>
                СКачать меню
            </div>

        </a>
        <a href="#" class="links__btn">

            <div class="links__btn-text">
                Меню для островского
            </div>
            <div class="links__btn-content">
                <div class="links__btn-icon">
                    <svg width="45" height="45" aria-hidden="true" class="icon-pdf">
                        <use xlink:href="#pdf"></use>
                    </svg>

                </div>
                СКачать меню
            </div>

        </a>
    </div>
</section>
<section class="links">
    <div class="links__row">
        <a href="#" class="links__btn">

            <div class="links__btn-text">
                Забронировать зал
            </div>
            <div class="links__btn-content">
                <div class="links__btn-icon">
                    <svg width="45" height="45" aria-hidden="true" class="icon-whatsapp">
                        <use xlink:href="#whatsapp"></use>
                    </svg>

                </div>
                связаться в Whatsapp
            </div>

        </a>
        <a href="#" class="links__btn">

            <div class="links__btn-text">
                Скачать меню
            </div>
            <div class="links__btn-content">
                <div class="links__btn-icon">
                    <svg width="45" height="45" aria-hidden="true" class="icon-pdf">
                        <use xlink:href="#pdf"></use>
                    </svg>

                </div>
                Файл PDF
            </div>

        </a>
    </div>
</section>

<section class="bottom-panel-landing-position">

</section>

{{/content}}
{{/extend}}