{{#extend "layout"}}
{{#content "main"}}


<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.5;">
        <div class="home-section__bg-parallax-layer">
            <img src="img/intro-sections/1.jpg" alt="">
            <video class="lazyload" muted="" data-autoplay="" loop playsinline preload="none">
                <source src="assets/video/video.mp4" type="video/mp4" />
            </video>
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row home-section__row--centered">
                <div class="home-section__col">
                    <div class="home-section__events-slider js-home-events-slider">
                        <div class="home-section__events-slider-content">
                            <h3 class="home-section__events-slider-heading">
                                Акции
                            </h3>
                            <div class="swiper-container">
                                <div class="swiper-wrapper">
                                    <div class="swiper-slide">
                                        <div class="home-section__events-slider-card">
                                            <div class="home-section__events-slider-card-image-container">
                                                <img src="img/events-slider/1.jpg" alt=""
                                                    class="home-section__events-slider-card-image">
                                                <div class="home-section__events-slider-card-row">
                                                    <h4 class="home-section__events-slider-card-title">
                                                        Девичник для тебя
                                                    </h4>
                                                    <div class="home-section__events-slider-card-icon">
                                                        <svg width="45" height="45" aria-hidden="true"
                                                            class="icon-rombus-filled">
                                                            <use xlink:href="#rombus-filled"></use>
                                                        </svg>
                                                        <svg width="45" height="45" aria-hidden="true"
                                                            class="icon-fat-arrow-right">
                                                            <use xlink:href="#fat-arrow-right"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="home-section__events-slider-card-text">
                                                Сделайте себе лучший подарок
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="home-section__events-slider-card">
                                            <div class="home-section__events-slider-card-image-container">
                                                <img src="img/events-slider/1.jpg" alt=""
                                                    class="home-section__events-slider-card-image">
                                                <div class="home-section__events-slider-card-row">
                                                    <h4 class="home-section__events-slider-card-title">
                                                        Девичник для тебя
                                                    </h4>
                                                    <div class="home-section__events-slider-card-icon">
                                                        <svg width="45" height="45" aria-hidden="true"
                                                            class="icon-rombus-filled">
                                                            <use xlink:href="#rombus-filled"></use>
                                                        </svg>
                                                        <svg width="45" height="45" aria-hidden="true"
                                                            class="icon-fat-arrow-right">
                                                            <use xlink:href="#fat-arrow-right"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="home-section__events-slider-card-text">
                                                Сделайте себе лучший подарок
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="home-section__events-slider-card">
                                            <div class="home-section__events-slider-card-image-container">
                                                <img src="img/events-slider/1.jpg" alt=""
                                                    class="home-section__events-slider-card-image">
                                                <div class="home-section__events-slider-card-row">
                                                    <h4 class="home-section__events-slider-card-title">
                                                        Девичник для тебя
                                                    </h4>
                                                    <div class="home-section__events-slider-card-icon">
                                                        <svg width="45" height="45" aria-hidden="true"
                                                            class="icon-rombus-filled">
                                                            <use xlink:href="#rombus-filled"></use>
                                                        </svg>
                                                        <svg width="45" height="45" aria-hidden="true"
                                                            class="icon-fat-arrow-right">
                                                            <use xlink:href="#fat-arrow-right"></use>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="home-section__events-slider-card-text">
                                                Сделайте себе лучший подарок
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <div class="home-section__events-slider-arrows">
                            <button class="home-section__events-slider-arrow home-section__events-slider-arrow--prev">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
                                    <use xlink:href="#rombus"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-left">
                                    <use xlink:href="#thin-arrow-left"></use>
                                </svg>
                            </button>
                            <button class="home-section__events-slider-arrow home-section__events-slider-arrow--next">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus">
                                    <use xlink:href="#rombus"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#thin-arrow-right"></use>
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>
                <div class="home-section__col">
                    <h2 class="home-section__intro-heading">
                        Новое измерение красоты и здоровья
                    </h2>
                </div>
            </div>

            {{> fixed-bottom-panel }}
        </div>
    </div>
</section>
<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.3;">
        <div class="home-section__bg-parallax-layer">
            <img src="img/intro-sections/2.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            Время для себя
                        </h2>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Философия LUCIANO
                        </a>
                    </div>
                </div>
                <div class="home-section__col">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.3;">
        <div class="home-section__bg-parallax-layer">
            <img src="img/intro-sections/3.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">

                </div>
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            Отель
                        </h2>
                        <div class="home-section__text">
                            <p>
                                LUCIANO сложно назвать просто отелем — это целый комплекс взаимосвязанных между собой
                                услуг
                            </p>
                        </div>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Забронировать номер
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.3;">
        <div class="home-section__bg-parallax-layer">
            <img src="img/intro-sections/4.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            Кухня
                        </h2>
                        <div class="home-section__text">
                            <p>
                                Ценителей высокой кухни порадуют рестораны комплекса, где можно отведать настоящие
                                произведения гастрономического искусства и провести незабываемый вечер
                            </p>
                        </div>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Все рестораны и бары
                        </a>
                    </div>
                </div>
                <div class="home-section__col">

                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.2;">
        <div class="home-section__bg-parallax-layer">
            <img src="img/intro-sections/5.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">

                </div>
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            SPA
                        </h2>
                        <div class="home-section__text">
                            <p>
                                Место, где соединились воедино многовековые традиции и последние достижения современных
                                технологий, где сошлись Восток и Запад. Традиции многих культур и поколений в сочетании
                                с современными разработками, открывают безграничные возможности для совершенствования
                                тела и духа
                            </p>
                        </div>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Подробнее
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="home-section">
    <div class="home-section__bg" style="--overlay-opacity: 0.4;">
        <div class="home-section__bg-parallax-layer">
            <img src="img/intro-sections/6.jpg" alt="">
        </div>
    </div>
    <div class="container">
        <div class="home-section__content">
            <div class="home-section__row">
                <div class="home-section__col">
                    <div class="home-section__inner-content">
                        <h2 class="home-section__heading">
                            Оздоро&shy;ительные програм&shy;мы
                        </h2>
                        <div class="home-section__text">
                            <p>
                                Уже более десяти лет все самые передовые технологии оздоровительной медицины, которые
                                появляются в мире, сразу же внедряются в ежедневную практику специалистов LUCIANO
                            </p>
                        </div>
                        <a href="#" class="home-section__link">
                            <div class="home-section__link-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                            Забронировать
                        </a>
                    </div>
                </div>
                <div class="home-section__col">

                </div>
            </div>
        </div>
    </div>
</section>

<section class="services">
    <div class="container">
        <ul class="services__list">
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.2;">
                        <img src="img/services/1.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Салон красоты
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/2.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Медицина и&nbsp;косметология
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/3.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Фитнес клуб
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/4.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Мероприятия
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
            <li class="services__list-item services__list-item--large">
                <a href="#" class="services__card">
                    <div class="services__card-bg" style="--overlay-opacity: 0.3;">
                        <img src="img/services/5.jpg" alt="" class="services__card-bg-image">
                    </div>
                    <div class="services__card-content">
                        <div class="services__card-row">
                            <h3 class="services__card-heading">
                                Детский клуб
                            </h3>
                            <div class="services__card-icon">
                                <svg width="45" height="45" aria-hidden="true" class="icon-rombus-filled">
                                    <use xlink:href="#rombus-filled"></use>
                                </svg>
                                <svg width="45" height="45" aria-hidden="true" class="icon-arrow-right">
                                    <use xlink:href="#arrow-right"></use>
                                </svg>
                            </div>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
    </div>
</section>

<section class="bottom-panel-landing-position">

</section>


{{/content}}
{{/extend}}