{{#extend "layout"}}
{{#content "main"}}


<section class="not-found">
    <div class="container">
        <div class="not-found__content">
            <img src="img/decor.svg" alt="" class="not-found__decor">
            <div class="not-found__inner">


                <div class="not-found__code">
                    404
                </div>

                <h1 class="not-found__heading">
                    Такой страницы у нас нет
                </h1>
                <div class="not-found__text">
                    Проверьте правильность ссылки или вернитесь на <a href="#">главную</a>
                </div>
            </div>
        </div>
    </div>
</section>


{{/content}}
{{/extend}}