.fixed-bottom-panel {
    position: relative;
    z-index: 250;


    &::before {
        content: '';
        z-index: -1;
        left: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        right: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        top: 0;
        bottom: 0;
        position: absolute;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.25) 30%, rgba(0, 0, 0, 0));
        transition: opacity 0.3s;
    }

    &::after {
        content: '';
        z-index: -1;
        left: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        right: calc((100vw - 100% - var(--sb-width, 0)) / 2 * -1);
        top: 0;
        bottom: 0;
        background: #bb9b8c;
        position: absolute;
        transition: opacity 0.3s;
        opacity: 0;
    }

    body:not(.animatable) & {
        &::after {
            opacity: 0 !important;
        }
    }

    &:not(.sticky) {
        z-index: 40;
        &::before {
            opacity: 0;
        }
        &::after {
            opacity: 1;
        }
    }
}

.pin-spacer {
    z-index: initial !important;
}

.fixed-bottom-panel__row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    height: var(--fixed-bottom-panel-height, 0);
    border-top: 1px solid rgba(white, 0.2);
}

.fixed-bottom-panel__col {
    border-right: 1px solid rgba(white, 0.2);
    display: flex;
    align-items: center;
    &:last-child {
        border-right: none;
    }
}

.fixed-bottom-panel__ask-question {
    display: inline-flex;
    align-items: center;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    color: #f4e5a0;

    &:link,
    &:visited {
        color: #f4e5a0;
    }

    .fixed-bottom-panel:not(.sticky) & {
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
}

.fixed-bottom-panel__ask-question-icon {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    margin-right: 3rem;
    position: relative;
    z-index: 1;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-rombus {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: rgba(#f4e5a0, 0.4);
    }

    .icon-question {
        width: 1.8rem;
        height: 1.8rem;
        fill: #f4e5a0;
    }

    .fixed-bottom-panel:not(.sticky) & {
        .icon-rombus {
            fill: rgba(#ffffff, 0.4);
        }

        .icon-question {
            fill: white;
        }
    }
}

.fixed-bottom-panel__filters {
    width: 100%;
    align-self: stretch;
    position: relative;
    z-index: 250;
    display: flex;

    

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: -1px;
        right: calc((100vw - 100% - var(--sb-width)) / 2 * -1);
        bottom: -1px;
        background: #bb9b8c;
        transform-origin: center bottom;
        transform: scaleY(0);
        transition: transform 0.4s;
        z-index: 5;
    }

    .mobile-menu-open & {
        &::after {
            transform: scaleY(1);
            transition: transform 0.3s ease-out 0.7s;
        }
    }
}

.fixed-bottom-panel__filters-inputs {
    width: 50%;
    flex-grow: 1;
    display: flex;
}

.fixed-bottom-panel__filters-input-wrapper {
    margin-right: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    // align-items: flex-start;
    position: relative;

    &:first-child {
        padding-left: 3.2rem;
    }

    &:last-child {
        margin-right: 0;
    }

    .datepicker.dropdown-menu {
        top: auto !important;
        right: auto !important;
        left: 0 !important;
        bottom: 100% !important;
        margin-bottom: 1px;
        margin-top: 0;
        border-radius: 0;
        border: none;
        font-size: 16px;
        line-height: 25px;
        box-shadow: 0 0 10px rgba(black, 0.15);
        padding: 10px;
        width: 260px;
    }

    .datepicker-dropdown:before,
    .datepicker-dropdown:after {
        display: none;
    }

    .datepicker table tr td.active,
    .datepicker table tr td.active.disabled,
    .datepicker table tr td.active.disabled:hover,
    .datepicker table tr td.active:hover {
        text-shadow: none;
        background: black;
        color: white;
    }

    .datepicker table tr td span.active.active,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled.active,
    .datepicker table tr td span.active.disabled.disabled,
    .datepicker table tr td span.active.disabled:active,
    .datepicker table tr td span.active.disabled:hover,
    .datepicker table tr td span.active.disabled:hover.active,
    .datepicker table tr td span.active.disabled:hover.disabled,
    .datepicker table tr td span.active.disabled:hover:active,
    .datepicker table tr td span.active.disabled:hover:hover,
    .datepicker table tr td span.active.disabled:hover[disabled],
    .datepicker table tr td span.active.disabled[disabled],
    .datepicker table tr td span.active:active,
    .datepicker table tr td span.active:hover,
    .datepicker table tr td span.active:hover.active,
    .datepicker table tr td span.active:hover.disabled,
    .datepicker table tr td span.active:hover:active,
    .datepicker table tr td span.active:hover:hover,
    .datepicker table tr td span.active:hover[disabled],
    .datepicker table tr td span.active[disabled] {
        background: black;
        color: white;
    }

    .datepicker table tr td span.active,
    .datepicker table tr td span.active.disabled,
    .datepicker table tr td span.active.disabled:hover,
    .datepicker table tr td span.active:hover {
        background: black;
        color: white;
    }
}

.fixed-bottom-panel__filters-submit {
    flex-shrink: 0;
    margin-left: 3rem;
    align-self: center;
}

.fixed-bottom-panel__filters-input-label {
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: rgba(white, 0.7);
    margin-bottom: 0.7rem;
    font-family: var(--cormorant);
}

.fixed-bottom-panel__filters-input {
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: white;
    padding-right: 3rem;
    background-image: url('../img/dropdown-arrow.svg');
    background-position: right center;
    background-repeat: no-repeat;
    background-size: 2rem 2rem;
    width: 11em;
}

.fixed-bottom-panel__filters-submit {
    display: inline-flex;
    align-items: center;
}

.fixed-bottom-panel__filters-submit-icon {
    flex-shrink: 0;
    z-index: 1;
    width: 6rem;
    height: 6rem;
    margin-right: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;

    .icon-rombus {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: rgba(#f4e5a0, 0.4);
    }

    .icon-search {
        fill: #f4e5a0;
        width: 1.8rem;
        height: 1.8rem;
        flex-shrink: 0;
    }

    .fixed-bottom-panel:not(.sticky) & {
        .icon-rombus {
            fill: rgba(#ffffff, 0.4);
        }

        .icon-search {
            fill: white;
        }
    }
}

.fixed-bottom-panel__filters-submit-text {
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #f4e5a0;
    transition: color 0.2s;

    .fixed-bottom-panel:not(.sticky) & {
        color: white;
    }
}

.bottom-panel-landing-position {
    height: var(--fixed-bottom-panel-height, 0);
    width: 100%;
}

.fixed-bottom-panel__select {
    text-align: left;

    .choices {
        font-size: 1.2rem;
        line-height: 140%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        margin-bottom: 0;
        position: relative;
        border-radius: 0;
        background: transparent;

        &.is-open {
            border-bottom-left-radius: 0 !important;
            border-bottom-right-radius: 0 !important;
        }
    }

    .choices.is-open {
        z-index: 30;
    }

    .choices[data-type*='select-one'].is-open::after {
        transform: translateY(-50%) rotate(180deg);
    }

    .choices[data-type*='select-one'] .choices__inner {
        padding-bottom: 0rem;
    }

    .choices__inner {
        background: transparent;
        font-size: 1.2rem;
        line-height: 140%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        padding: 0;

        border: none;
        min-height: auto;
        display: flex;
        align-items: center;
        background: transparent;
        border-radius: 0;
        border-radius: 0 !important;
        transition: border-color 0.2s;
    }

    .choices__list--single {
        padding: 0;
        padding-right: 3rem;
    }

    .choices[data-type*='select-one']:after {
        border: none;
        margin: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        background-image: url('../img/dropdown-arrow.svg');
        background-position: right center;
        background-repeat: no-repeat;
        background-size: 2rem 2rem;
        width: 2rem;
        height: 2rem;

        transition: transform 0.3s;
    }

    .choices__placeholder {
        opacity: 1;

        color: #9a9a9a;
    }

    .choices__list--dropdown {
        word-break: initial;
        font-size: 1.2rem;
        line-height: 140%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        background: #ffffff;
        border: none;

        border-radius: 0rem !important;

        box-shadow: none;
        transition: opacity 0.3s, visibility 0s linear 0.3s;
        display: block !important;
        opacity: 0;
        visibility: hidden;
        padding: 0;
        top: auto;
        bottom: 100%;
        left: 0;
        right: auto;
        margin-bottom: 5.9rem;
        box-shadow: 0 0 10px rgba(black, 0.2);
        &.is-active {
            opacity: 1;
            visibility: visible;
            transition: opacity 0.3s, visibility 0.3s;
        }
    }

    .choices__list--dropdown .choices__item {
        font-size: 1.2rem;
        line-height: 140%;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        transition: background-color 0.2s, color 0.2s;
        padding: 1.1rem 1.6rem;
        display: flex;
        align-items: center;
        // border-top: 1px solid #e9e9e9;
        color: black;
        white-space: nowrap;
        &:first-child {
            border: none;
        }
    }

    .choices__list--dropdown .choices__item--selectable.is-highlighted {
        background: black;
        color: white;
    }

    .choices__list--dropdown .choices__list {
        max-height: 30rem;

        -webkit-overflow-scrolling: touch;

        &::-webkit-scrollbar {
            background-color: white;
            width: 0.6rem;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--primary-color);
            border-radius: 0.3rem;
        }

        &::-webkit-scrollbar-button {
            display: none;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
        }

        @include breakpoint(mobile) {
            max-height: 22rem;
        }
    }
}

.fixed-bottom-panel__desktop {
    @include breakpoint(mobile) {
        display: none;
    }
}

.fixed-bottom-panel__mobile {
    display: none;
    @include breakpoint(mobile) {
        display: block;
    }
}

.fixed-bottom-panel__mobile-links {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    border-top: 1px solid rgba(#ffffff, 0.2);
    margin: 0 calc(-1 * var(--content-padding));
    height: var(--fixed-bottom-panel-height);
    transition: background-color .2s;
    .mobile-menu-open & {
        background: #bb9b8c;
    }
}

.fixed-bottom-panel__mobile-link {
    display: block;
    text-align: center;
    font-size: 1.2rem;
    line-height: 140%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    color: #f4e5a0;
    padding: 1.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-right: 1px solid rgba(#ffffff, 0.2);
    &:last-child {
        border: none;
    }
    &:link,
    &:visited {
        color: #f4e5a0;
    }

    .fixed-bottom-panel:not(.sticky) & {
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }

    .mobile-menu-open & { 
        color: white;
        &:link,
        &:visited {
            color: white;
        }
    }
}
