.home-section {
    position: relative;
    color: white;

   
  
    .container {
        position: relative;
        // z-index: 50;
    }
}

.home-section__text-slider {
    max-width: 38rem;
}

.home-section__bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #0e1d2b;
    z-index: -1;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
 
  
    img,
    video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 5;
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, var(--overlay-opacity, 0.3));

        z-index: 10;
    }
}

.home-section__bg-parallax-layer {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    // will-change: transform;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;
}

.home-section__bg-slider {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    .swiper {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        margin: 0;
        width: 100%;
    }

    .swiper-wrapper {
        flex-grow: 1;
    }

    .swiper-slide {
        display: flex;
        flex-direction: column;
    }
}

.home-section__bg-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-section__bg-slider-card {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, var(--overlay-opacity, 0.3));
    }
}

.home-section__slider-arrows {
    display: flex;
    align-items: center;
    margin-top: auto;
    gap: 1.4rem;

    @include breakpoint(mobile) {
        margin: 0;
        margin-top: 3rem;
        order: 10;
    }
}

.home-section__slider-arrow {
    transition: opacity 0.2s;
    flex-shrink: 0;

    @include breakpoint(mobile) {
        .home-section__link-icon {
            width: 5.6rem;
            .icon-arrow-right,
            .icon-arrow-left {
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.home-section__slider-arrow--mirrored {
    transform: scaleX(-1);
}

.home-section__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    min-height: 100vh;

    @include breakpoint(laptop) {
        min-height: min(100vh, 108rem);
    }

    @include breakpoint(mobile) {
        min-height: var(--client-height, 100vh);
    }
}

.home-section__row {
    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column;
    }

    &--centered {
        align-items: center;
        @include breakpoint(mobile) {
            align-items: stretch;
            flex-direction: column-reverse;
        }
    }
    margin-bottom: 3.2rem;

    &:last-child {
        margin-bottom: 5rem;

        @include breakpoint(mobile) {
            .no-bottom-menu & {
                margin-bottom: 3rem;
            }
        }

        @include breakpoint(mobile) {
            margin-bottom: 9rem;

            .no-bottom-menu & {
                margin-bottom: 3rem;
            }
        }
    }
}

.home-section__col {
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        display: contents;
    }
}

.home-section--align-right .home-section__col:nth-child(2) {
    @include breakpointMF(small-tablet) {
        align-items: flex-end;
    }
}

.home-section__heading {
    font-weight: 500;
    font-size: 6rem;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 5.2rem;
        line-height: 100%;
    }
}

.home-section__link {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    color: #f4e5a0;
    margin-top: 3.5rem;
    gap: 1.5rem;
    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.4rem;
        line-height: 140%;
        margin-top: 3rem;
    }
    &:link,
    &:visited {
        color: #f4e5a0;
    }
}

.home-section__link-icon {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
        width: 6rem;
        height: 6rem;
    }
    .icon-rombus-filled {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: #f4e5a0;
        z-index: -1;
    }

    .icon-arrow-right {
        width: 1rem;
        height: 1.8rem;
        fill: black;

        @include breakpoint(mobile) {
            width: 1.4rem;
            height: 1.4rem;
        }
    }
}

.home-section__text {
    margin-top: 1.5rem;
    font-size: 1.8rem;
    line-height: 120%;
    max-width: 38rem;
    font-family: var(--montserrat);

    p {
        margin-bottom: 2.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 120%;
        margin-top: 1rem;
    }
}

.home-section__intro-heading {
    font-weight: 500;
    font-size: 4.3rem;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    max-width: 70rem;
    align-self: stretch;
    opacity: 0;
    visibility: hidden;
    transform: translateY(4rem);
    transition: opacity 0.7s, visibility 0.7s, transform 0.7s ease-out;

    @include breakpoint(mobile) {
        font-weight: 500;
        font-size: 3rem;
        line-height: 120%;
        margin-bottom: 3.5rem;
    }

    .animatable & {
        opacity: 1;
        visibility: inherit;
        transform: translateY(0rem);
    }
}

.home-section__events-slider {
    display: flex;
    align-items: flex-start;

    opacity: 0;
    visibility: hidden;
    transform: translateY(4rem);
    transition: opacity 0.7s, visibility 0.7s, transform 0.7s ease-out;

    .animatable & {
        opacity: 1;
        visibility: inherit;
        transform: translateY(0rem);
    }
}

.home-section__events-slider-content {
    width: 18.5rem;
}

.home-section__events-slider-heading {
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-bottom: 1.4rem;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.8rem;
        line-height: 140%;
    }
}

.home-section__events-slider-card-image-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    min-height: 12rem;
    position: relative;
    z-index: 1;
    padding: 0.6rem 0.9rem;
    justify-content: flex-end;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4));
    }
}

.home-section__events-slider-card-text {
    font-size: 1.5rem;
    line-height: 125%;
    letter-spacing: 0.02em;
    font-weight: 300;

    @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 110%;
    }
}

.home-section__events-slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-section__events-slider-card-row {
    display: flex;
    align-items: center;
    position: relative;
    z-index: 30;
}

.home-section__events-slider-card-title {
    width: 50%;
    flex-grow: 1;
    font-weight: 600;
    font-size: 1.8rem;
    font-family: var(--proxima);
    line-height: 120%;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-weight: 600;
        font-size: 1.3rem;
        line-height: 120%;
    }
}

.home-section__events-slider-card-icon {
    width: 3.8rem;
    height: 3.8rem;
    flex-shrink: 0;
    margin-left: 1.5rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .icon-rombus-filled {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: rgba(white, 0.2);
    }

    .icon-fat-arrow-right {
        width: 1.5rem;
        height: 1.5rem;
        fill: #fff;
        @include breakpoint(mobile) {
            width: 1.2rem;
            height: 1.2rem;
        }
    }
}

.home-section__events-slider-arrows {
    display: flex;
    align-items: center;
    margin-left: 1.8rem;
    margin-top: 6.7rem;

    @include breakpoint(mobile) {
        margin-left: auto;
        margin-top: 7.3rem;
    }
}

.home-section__events-slider-arrow {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    position: relative;
    z-index: 1;
    transition: opacity 0.2s;

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }

    .icon-rombus {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: rgba(#f4e5a0, 0.4);
    }

    .icon-arrow-left,
    .icon-arrow-right {
        width: 1rem;
        height: 1.8rem;
        fill: #f4e5a0;
    }

    &:last-child {
        margin-left: -1.4rem;
    }
}
