.included {
    @include sectionPadding;
    background-color: #ececec;
}

.included__content {
    width: 100%;
    max-width: 102.4rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;
    }
}

.included__heading {
    @include sectionHeading;
    margin-bottom: 5rem;
    text-align: left;
    position: relative;
    max-width: 70rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 120%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        margin-bottom: 3rem;
    }
    &::before {
        content: '';
        position: absolute;
        right: 100%;
        height: 1px;
        width: 18rem;
        top: 2.3rem;
        background-color: rgba(#0e1d2b, 0.4);
        margin-right: 3.8rem;

        @include breakpoint(mobile) {
            display: none;
        }
    }
}
.included__slider {
    .swiper {
        overflow: visible;
    }

    @include breakpoint(mobile) {
        .swiper-slide {
            width: 27rem;
        }
    }
}

.included__list {

    @include breakpointMF(small-tablet) {
        display: grid;
        grid-template-columns: repeat(3, minmax(0, 1fr));
        grid-gap: 5rem;
    }

}

.included__card {
    display: flex;
    align-items: center;
    color: black;
}

.included__card-icon {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    width: 6.8rem;
    height: 6.8rem;
    background-color: #fff;
    margin-right: 1.6rem;
    border-radius: 50%;

    @include breakpoint(mobile) {
        width: 4.8rem;
        height: 4.8rem;
    }

    img {
        width: 4rem;
        height: 4rem;
        object-fit: contain;

        @include breakpoint(mobile) {
            width: 2.4rem;
            height: 2.4rem;
        }
    }
}

.included__card-title {
    font-style: normal;
    font-weight: 500;
    font-size: 1.1rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-family: var(--montserrat);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 1.1rem;
        line-height: 1.6rem;
    }
}
