.items {
    padding: 6rem 0;
}

.items__heading {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 120%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 5rem;
    font-family: var(--cormorant);
    max-width: 95rem;
    width: 100%;
}

.items__nav {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 2.4rem;
    margin-bottom: 7rem;
    justify-content: center;
}

.items__nav-btn {
    display: inline-flex;
    align-items: center;
    gap: 2.4rem;
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: rgba(black, 0.3);
    font-family: var(--cormorant);

    &:last-child {
        svg {
            display: none;
        }
    }

    svg {
        fill: #bb9b8c;
        width: 4.8rem;
        height: 4.3rem;
        flex-shrink: 0;
    }
    &:link,
    &:visited {
        color: rgba(black, 0.3);
    }

    .no-touch &:hover,
    .touch &:active,
    &.active {
        color: black;
    }
}

.items__content {
    max-width: 94.6rem;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 8rem;
}

.items__tabs {
    position: relative;
}

.items__tab {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;

    &.active {
        position: relative;
        z-index: 10;
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.items__list {
    margin-bottom: 5rem;
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-gap: 2rem;
    &:last-child {
        margin-bottom: 0;
    }
}

.items__card {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 3rem;
}

.items__card-key {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.3rem;
    font-family: var(--montserrat);
}

.items__card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: 0.16em;
    text-transform: uppercase;
}

.items__card-remark {
    font-style: normal;
    font-weight: 300;
    font-size: 2rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    color: rgba(black, 0.5);

    &--small {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 140%;
        letter-spacing: 0;
    }
}

.items__card-value {
    text-align: right;
    font-family: var(--cormorant);
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    display: inline-flex;
    align-items: center;
    justify-content: flex-end;
    margin-top: -.5rem;
}

.items__card-value-divider {
    width: 9.6rem;
    margin-right: 3.2rem;
    height: 1px;
    background-color: #bb9b8c;
    flex-shrink: 0;
}

.items__card-desc {
    margin-top: 1.2rem;
}

.items__card-show {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 140%;
    letter-spacing: 0.15em;
    border-bottom: 1px solid currentColor;
    transition: color 0.2s, border-color 0.2s;
    text-transform: uppercase;
    color: #bb9b8c;

    &:link,
    &:visited {
        color: #bb9b8c;
    }
    .no-touch &:hover,
    .touch &:active {
        border-color: transparent;
    }
}

.items__card-show-hidden-text {
    .all-shown & {
        display: none;
    }
}

.items__card-show-shown-text {
    display: none;

    .all-shown & {
        display: inline;
    }
}

.items__card-desc {
    max-width: 55rem;
}

.items__card-desc-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: rgba(black, 0.5);
    display: none;
    margin-top: 1.2rem;

    .all-shown & {
        display: block;
    }
}
