.masonry {
    @include sectionPadding;
    background-color: #ececec;
}

.masonry__content {
    width: 100%;
    max-width: 120rem;
    margin: 0 auto;

    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;
    }
}

.masonry__heading {
    @include sectionHeading;
    max-width: 95rem;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 5rem;

    @include breakpoint(mobile) {
        margin: 0;
        max-width: none;
        margin-bottom: 3rem;
    }
}

.masonry__nav {
    margin-bottom: 7rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.masonry__tabs {
    @include tabsContainer;
}

.masonry__tabs-item {
    @include tabsItem;
}

.masonry__row {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-gap: 6rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 5rem;
    }
}

.masonry__text {
    font-family: var(--cormorant);
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    line-height: 120%;
    margin-top: -0.8rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2rem;
        line-height: 2.6rem;
        text-align: center;
    }
}

.masonry__grid {
    .swiper {
        width: 100%;
        margin: 0;
        overflow: visible;
    }

    @include breakpointMF(small-tablet) {
        grid-column: span 2;
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-gap: 2rem;
            align-items: flex-start;
        }
    }

    @include breakpoint(mobile) {
        .swiper-slide {
            width: 28rem;
        }
    }
}

.masonry__grid-column {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 2rem;
    &:nth-child(2) {
        margin-top: 12rem;
    }

    @include breakpoint(mobile) {
        display: contents;
    }
}

.masonry__food-card {
    position: relative;
    z-index: 1;
    padding: 3.5rem 4rem;
    overflow: hidden;
    color: white;
    min-height: 60rem;
    display: flex;
    flex-direction: column;

    @include breakpoint(mobile) {
        padding: 3rem;
        min-height: 50rem;
        flex-grow: 1;
    }

    &:link,
    &:visited {
        color: white;
    }
}

.masonry__food-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(14, 29, 43, 0.74), rgba(14, 29, 43, 0.74));
    }
}

.masonry__food-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masonry__food-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    font-family: var(--cormorant);
    display: inline-flex;
    align-items: center;
    margin-bottom: 5rem;
    margin-top: 5rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 2.4rem;
        line-height: 3rem;
        margin-top: 2rem;
    }
}

.masonry__food-card-number {
    font-style: normal;
    font-weight: 400;
    font-size: 17rem;
    line-height: 2rem;
    letter-spacing: -0.02em;
    font-family: var(--caravan);
    color: rgba(white, 0.4);
    margin-top: -8rem;
    margin-left: 2rem;
    user-select: none;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 17rem;
        line-height: 2rem;
        margin-top: -8rem;
        // margin-left: 1rem;
        margin-right: -1rem;
    }
}

.masonry__food-card-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.3rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        margin-top: 0;
    }
}

.masonry__food-card-list-item {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 130%;
    position: relative;
    padding-left: 1.5rem;
    font-family: var(--montserrat);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.8rem;
        padding-left: 1.5rem;
        line-height: 130%;
    }
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0.95rem;
        width: 0.4rem;
        height: 0.4rem;
        background: #f4e5a0;
        transform: rotate(45deg);

        @include breakpoint(mobile) {
            top: 0.95rem;
        }
    }
}

.masonry__service-card {
    display: flex;
    flex-direction: column;
    min-height: 60rem;
    padding: 4rem;
    padding-top: 9rem;
    position: relative;
    z-index: 1;
    color: white;
    overflow: hidden;
    backface-visibility: hidden;
    transform: translateZ(0);
    @include breakpoint(mobile) {
        padding: 3rem 2.5rem;
        min-height: 45rem;
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active {
        .masonry__service-card-bg::after {
            opacity: 0;
        }

        .masonry__service-card-bg-image {
            transform: scale(1.03);
            transition: transform .5s;
        }
    }
}

.masonry__service-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    
    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(14, 29, 43, 0.5), rgba(14, 29, 43, 0.5));
        transition: opacity .2s;
    }
}

.masonry__service-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform .3s;
}

.masonry__service-card-title {
    font-style: normal;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    font-family: var(--cormorant);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 120%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
    }
}
