.masters {
    @include sectionPadding;
    overflow: hidden;
    background-color: #fff;
    &--grey {
        background: #f9f9f9;
    }

    &--no-bottom-padding {
        padding-bottom: 0;
    }
}

.masters__heading {
    @include sectionHeading;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.masters__slider {
    display: flex;
    align-items: center;
    gap: 5rem;

    @include breakpoint(mobile) {
        display: block;
    }
}

.masters__slider-arrow {
    width: 13rem;
    height: 13rem;
    transition: opacity 0.2s;

  

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.5;
    }

    .masters__slider:not(.js-masters-slider) &,
    &.swiper-button-lock {
        opacity: 0;
        visibility: hidden;
        display: block;
        @include breakpoint(mobile) {
            display: none;
        }
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--dark-biege);
    }

    @include breakpoint(mobile) {
        display: none;
    }
}

.masters__slider-inner {
    width: 50%;
    flex-grow: 1;
    .swiper {
        margin: 0;
        width: 100%;
    }

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;

        .swiper {
           
            overflow: visible;
        }
    }

    .swiper-slide {
        width: 50%;

        @include breakpoint(mobile) {
            width: 28rem;
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }

    .masters__slider:not(.js-masters-slider) & {
        .swiper-slide {
            width: 100%;
            margin: 0;
        }
        .swiper-wrapper {
            display: grid;
            grid-template-columns: repeat(2, minmax(0, 1fr));
            grid-row-gap: 7rem;

            @include breakpoint(mobile) {
                grid-gap: 2rem;
                
                // grid-template-columns: minmax(0, 1fr);
            }
        }
    }
}

.masters__slider-card {
    display: flex;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
    }
}

.masters__slider-card-image-container {
    position: relative;
    flex-shrink: 0;
    width: 28rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin-bottom: 3rem;

        .masters__slider:not(.js-masters-slider) & {
            margin-bottom: 1.5rem;
        }
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 140%;
    }
}

.masters__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masters__slider-card-content {
    width: 40%;
    flex-grow: 1;
    position: relative;
    z-index: 10;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.masters__slider-card-info {
    margin-top: 8.8rem;
    margin-left: -8rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.masters__slider-card-heading {
    font-family: var(--cormorant);
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 120%;

        .masters__slider:not(.js-masters-slider) &  {
            font-size: 1.8rem;
            margin-bottom: 1rem;
        }

        br {
            display: none;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.masters__slider-card-role {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        margin-bottom: 2rem;

        .masters__slider:not(.js-masters-slider) & {
            margin-bottom: 1rem;
        }
    }
}

.masters__slider-card-content {
    padding-left: 4rem;
    padding-right: 2rem;

    @include breakpoint(mobile) {
        margin: 0;
        padding: 0;
    }
}

.masters__slider-card-experience {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: rgba(black, 0.5);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 130%;

        .masters__slider:not(.js-masters-slider) & {
            font-size: 1.2rem;

        }
    }
}

.masters__slider-card-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--dark-biege);
    text-decoration: underline;
    text-decoration-color: var(--dark-biege);
    transition: all 0.2s;
    display: block;
    margin-top: 2.4rem;

    @include breakpoint(mobile) {
        .masters__slider:not(.js-masters-slider) & {
            margin-top: 1.5rem;
        }
    }
    &:link,
    &:visited {
        color: var(--dark-biege);
    }

    .no-touch &:hover,
    .touch &:active {
       

        text-decoration-color: transparent;
    }
}

.masters__slider-show-more {
    margin-top: 12rem;
    @include breakpoint(mobile) {
        margin-top: 4rem;
    }
}