.masters {
    @include sectionPadding;

    &--grey {
        background: #f9f9f9;
    }
}

.masters__heading {
    @include sectionHeading;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 4rem;
    }
}

.masters__slider {
    display: flex;
    align-items: center;
    gap: 5rem;
}

.masters__slider-arrow {
    width: 13rem;
    height: 13rem;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }

    &.swiper-button-disabled {
        cursor: default;
        opacity: 0.5;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: var(--dark-biege);
    }
}

.masters__slider-inner {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;

        .swiper {
            overflow: visible;
        }
    }

    .swiper-slide {
        width: 50%;

        @include breakpoint(mobile) {
            width: 28rem;
            margin-right: 1rem;
            &:last-child {
                margin-right: 0;
            }
        }
    }
}

.masters__slider-card {
    display: flex;
    align-items: flex-start;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
    }
}

.masters__slider-card-image-container {
    position: relative;
    flex-shrink: 0;
    width: 28rem;

    @include breakpoint(mobile) {
        width: 100%;
        flex-shrink: 1;
        margin-bottom: 3rem;
    }
    &::before {
        content: '';
        display: block;
        padding-bottom: 140%;
    }
}

.masters__slider-card-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.masters__slider-card-content {
    width: 40%;
    flex-grow: 1;
    position: relative;
    z-index: 10;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.masters__slider-card-info {
    margin-top: 8.8rem;
    margin-left: -8rem;
    margin-bottom: 4rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.masters__slider-card-heading {
    font-family: var(--cormorant);
    font-style: normal;
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 120%;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-bottom: 1rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 120%;

        br {
            display: none;
        }
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.masters__slider-card-role {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.2rem;
        line-height: 1.6rem;
        letter-spacing: 0.18em;
        text-transform: uppercase;
        margin-bottom: 2rem;
    }
}

.masters__slider-card-content {
    padding-left: 4rem;
    padding-right: 2rem;

    @include breakpoint(mobile) {
        margin: 0;
        padding: 0;
    }
}

.masters__slider-card-experience {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: rgba(black, 0.5);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 130%;
    }
}

.masters__slider-card-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: var(--dark-biege);
    text-decoration: underline;
    text-decoration-color: var(--dark-biege);
    transition: all 0.2s;
    display: block;
    margin-top: 2.4rem;
    &:link,
    &:visited {
        color: var(--dark-biege);
    }

    .no-touch &:hover,
    .touch &:active {
       

        text-decoration-color: transparent;
    }
}
