.menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    // width: 100%;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    z-index: 200;
    -webkit-overflow-scrolling: touch;
    background-color: rgba(#091624, 0.4);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    .mobile-menu-open & {
        right: var(--sb-width, 0);
    }

    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.menu__inner {
    margin-left: auto;
    width: 50%;
    flex-grow: 1;
    background-color: #fff;
    padding-left: 5rem;
    padding-right: 5rem;
    padding-top: 6rem;
    color: black;
    padding-bottom: var(--fixed-bottom-panel-height);
    transition: transform 0.4s ease-in;

    transform: translateX(100%);

    @include breakpoint(mobile) {
        width: 100%;
        margin-left: 0;
        padding: 0 var(--content-padding);
        padding-top: 10rem;
        padding-bottom: 9rem;
    }

    .mobile-menu-open & {
        transform: translateX(0%);
        transition: transform 0.7s ease-out;
    }
}

.menu__nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6rem;
    @include breakpoint(mobile) {
        margin-bottom: 3rem;
        align-items: stretch;
    }
}

.menu__nav-link {
    margin-bottom: 2rem;
    font-size: 2.5rem;
    line-height: 110%;

    @include breakpoint(mobile) {
        margin: 0;
        font-size: 1.5rem;
        line-height: 1.8rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding: 1.3rem 0;
       
    }
    &:last-child {
        margin-bottom: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #bb9b8c;
    }
}

.menu__secondary-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include breakpoint(mobile) {
        margin-bottom: 4.5rem;
    }
}

.menu__secondary-nav-link {
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1.2rem;
    @include breakpoint(mobile) {
        font-size: 1.3rem;
        line-height: 1.8rem;
        margin-bottom: 1rem;
    }
    &:last-child {
        margin-bottom: 0;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #bb9b8c;
    }
}

.menu__row {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: stretch;
    }
}

.menu__social-list {
    display: flex;
    align-items: center;
    gap: 2rem;
    margin-left: 3rem;
    flex-shrink: 0;
    @include breakpoint(mobile) {
        margin-left: 0;
    }
}

.menu__social-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #bb9b8c;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: black;
        }
    }
}
