.page-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 70;
    transition: background-color 0.2s;
    color: white;

    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        height: 100%;
        background-color: var(--dark-biege);
        z-index: -1;
        pointer-events: none;
        transition: opacity 0.2s;
        opacity: 0;

        height: 26rem;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0.87) -7.98%, rgba(0, 0, 0, 0.31) 30.8%, rgba(255, 255, 255, 0) 60.33%, transparent 60.33%);

        @include breakpoint(mobile) {
            height: 12rem;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0.7) -7.98%, rgba(0, 0, 0, 0) 100%);
        }
    }

    &.fixed {
        &::before {
            opacity: 1;

            @include breakpoint(mobile) {
                opacity: 1;
            }
        }
    }

    .modal-open &,
    .mobile-menu-open & {
        padding-right: var(--sb-width, 0);
        &::before {
            right: var(--sb-width, 0);
        }
    }
}

.page-header__menu {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    z-index: 90;
    background: #bb9b8c;
    color: white;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    @include noScrollbar();
    font-family: var(--montserrat);
    .mobile-menu-open & {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
        right: var(--sb-width, 0);
    }

    .container {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        flex-grow: 1;
    }

    @include breakpoint(mobile) {
        padding-top: 11.7rem;
    }
}

.page-header__menu-logo {
    margin: 0 auto;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-header__menu-order-link {
    @include breakpointMF(small-tablet) {
        display: none;
    }

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
        letter-spacing: 0.12em;
        text-transform: uppercase;
        margin-bottom: 2rem;
        color: #F4E5A0;
        font-family: var(--proxima);
        &:link,
        &:visited {
            color: #F4E5A0;
        }
    }
}

.page-header__menu-logo-image {
    display: block;
    width: 14rem;
    height: auto;
}

.page-header__menu-nav {
    width: 66rem;
    position: relative;
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        width: 100%;
        margin-bottom: 3.5rem;
    }
}

.page-header__menu-nav-list {
    margin-top: -1rem;

    @include breakpoint(mobile) {
        margin: 0;
    }
}

.page-header__menu-nav-list-item {
    @include breakpointMF(small-tablet) {
        &.active {
            .page-header__menu-nav-link {
                color: #f4e5a0;
            }

            .page-header__submenu-wrapper {
                opacity: 1;
                visibility: inherit;
                transition: opacity 0.2s, visibility 0.2s;
            }
        }
    }

    @include breakpoint(mobile) {
        border-bottom: 1px solid rgba(#c4c4c4, 0.4);
    }
}

.page-header__menu-nav-link {
    font-style: normal;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 120%;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    padding: 1rem 0;
    display: block;

    @include breakpoint(mobile) {
        padding: 1.4rem 0;
        font-style: normal;
        font-weight: 600;
        font-size: 1.6rem;
        line-height: 140%;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .js-accordion & {
            &::after {
                content: '';
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 15.27 8'%3E%3Cpath fill='white' d='M7.64,8a.33.33,0,0,0,.25-.11L15.16.63a.37.37,0,0,0,.1-.36A.35.35,0,0,0,15,0a.37.37,0,0,0-.35.1l-7,7-7-7A.4.4,0,0,0,.27,0,.35.35,0,0,0,0,.27a.4.4,0,0,0,.1.36L7.38,7.89A.36.36,0,0,0,7.64,8Z' /%3E%3C/svg%3E");
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
                width: 1.5rem;
                height: 1.5rem;
                flex-shrink: 0;
                margin-left: 2rem;
                transition: transform 0.2s;
            }
        }

        .js-accordion.active & {
            &::after {
                transform: rotate(180deg);
            }
        }
    }
    .no-touch &:hover,
    .touch &:active {
        color: #f4e5a0;
    }

    .page-header__menu-nav-list-item.active & {
        color: #f4e5a0;
    }
}

.page-header__submenu-wrapper {
    @include breakpointMF(small-tablet) {
        opacity: 0;
        visibility: hidden;
        transition: opacity 0.2s, visibility 0s linear 0.2s;
        position: absolute;
        left: 100%;
        top: 0;
        z-index: 30;
        width: max-content;
        max-width: 60rem;
        padding-bottom: 2rem;
    }

    @include breakpoint(mobile) {
        height: 0;
        overflow: hidden;
    }
}

.page-header__submenu-list {
    display: grid;
    grid-template-columns: minmax(0, 1fr);
    grid-gap: 1.2rem;

    @include breakpoint(mobile) {
        width: 100%;
        max-width: none;
        padding: 0;
        grid-gap: 1rem;
        padding-bottom: 1.4rem;
    }
}

.page-header__submenu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    display: block;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 130%;
    }

    .page-header__submenu-list-item.active & {
        color: #f4e5a0;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #f4e5a0;
    }
}

.page-header__menu-bottom-row {
    display: flex;
    align-items: center;
    gap: 4.7rem;
    margin-bottom: 3rem;
    margin-top: auto;

    @include breakpoint(mobile) {
        display: grid;
        grid-template-columns: minmax(0, 1fr) minmax(0, auto);
        grid-gap: 2rem;
        margin-bottom: 4rem;
        align-items: center;
    }
}

.page-header__menu-links {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 4.6rem;

    @include breakpoint(mobile) {
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: flex-start;
        gap: 1.6rem;
    }
}

.page-header__menu-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 130%;
    }
    .no-touch &:hover,
    .touch &:active {
        color: #f4e5a0;
    }
}

.page-header__menu-social {
    display: flex;
    align-items: center;
    gap: 4.6rem;
    @include breakpoint(mobile) {
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
        align-items: center;
        gap: 1.6rem;
    }
}

.page-header__menu-social-link {
    width: 2rem;
    height: 2rem;
    display: block;
    flex-shrink: 0;
    svg {
        width: 100%;
        height: 100%;
        fill: currentColor;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #f4e5a0;
    }
}

.page-header__row {
    display: grid;
    grid-template-columns: minmax(0, 1fr) auto minmax(0, 1fr);
    grid-template-areas: 'empty logo controls';
    grid-gap: 2rem;
    align-items: flex-start;
    padding: 2rem 0;

    @include breakpoint(mobile) {
        display: flex;
        align-items: center;
        gap: 2rem;
    }
}

.page-header__logo {
    @include breakpointMF(small-tablet) {
        grid-area: logo;
    }

    @include breakpoint(mobile) {
        position: relative;
        z-index: 100;
    }
}

.page-header__logo-image {
    width: 8.9rem;
    display: block;
    height: auto;

    @include breakpoint(mobile) {
        width: 7.2rem;
    }
}

.page-header__controls {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @include breakpointMF(small-tablet) {
        grid-area: controls;
    }

    @include breakpoint(mobile) {
        margin-left: auto;
    }
}

.page-header__order-link {
    margin-right: 4.4rem;
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: #f4e5a0;

    @include breakpoint(mobile) {
        display: none;
    }
    &:link,
    &:visited {
        color: #f4e5a0;
    }
}

.page-header__languages {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-right: 4.4rem;
    position: relative;
    z-index: 100;

    @include breakpoint(mobile) {
        margin-right: 2.5rem;
        gap: 1.5rem;
    }
}

.page-header__languages-link {
    font-style: normal;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 110%;
    letter-spacing: 0.12em;
    text-transform: uppercase;
    color: rgba(white, 0.4);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 110%;
    }
    &:link,
    &:visited {
        color: rgba(white, 0.4);
    }

    .no-touch &:hover,
    .touch &:active,
    &.active {
        color: white;
    }
}

.page-header__burger {
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 7.5rem;
    height: 7.5rem;
    flex-shrink: 0;
    position: relative;
    z-index: 100;

    @include breakpoint(mobile) {
        width: 6rem;
        height: 6rem;
        margin-right: -0.5rem;
    }
    svg {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        fill: rgba(white, 0.4);
    }

    & > span {
        width: 2rem;
        height: 1px;
        margin-bottom: 0.7rem;
        transition: transform 0.2s, opacity 0.2s, background-color 0.2s;
        background-color: #fff;

        @include breakpoint(mobile) {
            width: 1.8rem;
            margin-bottom: 0.6rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    .mobile-menu-open & {
        & > span {
            &:nth-of-type(1) {
                transform: translateY(0.8rem) rotate(45deg);
            }
            &:nth-of-type(2) {
                opacity: 0;
            }
            &:nth-of-type(3) {
                transform: translateY(-0.8rem) rotate(-45deg);
            }
        }

        @include breakpoint(mobile) {
            & > span {
                &:nth-of-type(1) {
                    transform: translateY(0.7rem) rotate(45deg);
                }
                &:nth-of-type(2) {
                    opacity: 0;
                }
                &:nth-of-type(3) {
                    transform: translateY(-0.7rem) rotate(-45deg);
                }
            }
        }
    }
}
