.page-footer {
    padding-top: 11rem;
    padding-bottom: 5.5rem;
    background: #f1dfd6;
    position: relative;
    z-index: 40;

    @include breakpoint(mobile) {
        padding-top: 4rem;
        padding-bottom: 2.5rem;
        .container {
            display: flex;
            flex-direction: column;
        }
    }
}

.page-footer__row {
    margin-bottom: 17rem;
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-gap: 2rem;
    &:last-child {
        margin-bottom: 0;
    }

    @include breakpoint(mobile) {
        display: flex;
        flex-direction: column-reverse;
        grid-gap: initial;
        display: contents;
        margin: 0;
    }
}

.page-footer__nav {
    grid-column: span 2;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__nav-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;
    grid-row-gap: 2.7rem;
}

.page-footer__nav-link {
    font-size: 2.5rem;
    line-height: 110%;

    .no-touch &:hover,
    .touch &:active {
        color: #bb9b8c;
    }
}

.page-footer__secondary-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    @include breakpoint(mobile) {
        display: none;
    }
}

.page-footer__secondary-nav-link {
    font-size: 2rem;
    line-height: 140%;
    margin-bottom: 1.2rem;
    &:last-child {
        margin-bottom: 0;
    }
    .no-touch &:hover,
    .touch &:active {
        color: #bb9b8c;
    }
}

.page-footer__contacts {
    display: flex;
    flex-direction: column;
}

.page-footer__phone-link {
    font-size: 2.5rem;
    line-height: 110%;
    margin-bottom: 1.8rem;

    @include breakpoint(mobile) {
        font-size: 3.2rem;
        line-height: 110%;
        margin-bottom: 0.8rem;
    }

    .no-touch &:hover,
    .touch &:active {
        color: #bb9b8c;
    }
}

.page-footer__mail-link {
    font-size: 2.5rem;
    line-height: 110%;
    text-decoration-line: underline;
    color: #bb9b8c;
    margin-bottom: 4.5rem;
    transition: all .2s;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 110%;
        margin-bottom: 4rem;
    }
    &:link,
    &:visited {
        color: #bb9b8c;
    }

    .no-touch &:hover,
    .touch &:active {
        text-decoration-color: transparent;
    }
}

.page-footer__address {
    font-size: 2.5rem;
    line-height: 110%;
    @include breakpoint(mobile) {
        font-size: 1.8rem;
        line-height: 110%;
        margin-bottom: 1.3rem;
    }
}

.page-footer__copyright {
    font-size: 1.8rem;
    align-self: center;
    line-height: 120%;
    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 120%;
        align-self: flex-start;
        order: 10;
        margin-bottom: 0.5rem;
    }
}

.page-footer__social-list {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    @include breakpoint(mobile) {
        gap: 1.2rem;
        margin-bottom: 9rem;
    }
}

.page-footer__social-link {
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;

    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #bb9b8c;
        transition: fill .2s

    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: black;
        }
    }
}

.page-footer__made-by {
    @include breakpointMF(small-tablet) {
        grid-column: 4 / 5;
    }
    align-self: center;
    display: inline-flex;
    align-items: center;
    font-size: 1.8rem;
    line-height: 120%;

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 120%;
        align-self: flex-start;
        order: 20;
    }
}

.page-footer__made-by-logo {
    flex-shrink: 0;
    margin-left: 0.6rem;
    width: 10rem;
    height: auto;
    position: relative;
    bottom: -0.2rem;
    @include breakpoint(mobile) {
        width: 8rem;
        margin-left: 0.7rem;
        bottom: -.1rem;
    }
}
