.scheme {
    @include sectionPadding;
    background: #ececec;
}

.scheme__heading {
    @include sectionHeading;
    margin-bottom: 6rem;
   
}


.scheme__content {
    width: 100%;
    max-width: 100rem;
    margin: 0 auto;
}

.scheme__image {
    display: block;
    width: 100%;
    height: auto;
}