.show-more {
    padding: 4rem 0;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    border-top: 1px solid rgba(#0e1d2b, 0.1);
    border-bottom: 1px solid rgba(#0e1d2b, 0.1);
    display: block;
    text-align: center;
    font-family: var(--montserrat);
    transition: background-color 0.2s, color 0.2s, border-color 0.2s;

    @include breakpoint(mobile) {
        font-weight: 400;
        font-family: var(--proxima);
    }

    .no-touch &:hover,
    .touch &:active {
        color: white;
        background-color: #bb9b8c;
        border-color: #bb9b8c;
    }
}
