.show-more {
    padding: 4rem 0;
    font-style: normal;
    font-weight: 300;
    font-size: 1.6rem;
    line-height: 140%;
    letter-spacing: 0.15em;
    text-transform: uppercase;
    border-top: 1px solid rgba(#0E1D2B, .1);
    border-bottom: 1px solid rgba(#0E1D2B, .1);
    display: block;
    text-align: center;
}
