.standard-nav {
    display: flex;
    align-items: center;
}
.standard-nav__btn {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;
    transition: opacity 0.2s;

    @include breakpoint(mobile) {
        display: none;
    }

    &--prev {
        margin-right: 3rem;
    }

    &--next {
        margin-left: 3rem;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: #f4e5a0;
        transition: fill 0.2s;
    }

    .standard-nav--dark & {
        svg {
            fill: var(--dark-biege);
        }
    }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }
}

.standard-nav__inner {
    width: 50%;
    flex-grow: 1;

    .swiper {
        margin: 0;
        width: 100%;

        @include breakpoint(mobile) {
            overflow: visible;
        }

        @include breakpointMF(small-tablet) {
            mask-image: linear-gradient(to right, transparent 0, white 1.5rem, white calc(100% - 1.5rem), transparent 100%);
            padding: 0 2rem;
        }
    }
    .swiper-slide {
        width: auto;
        // box-sizing: content-box;
        flex-shrink: 0;
        // padding-right: 2.4rem;
        box-sizing: border-box;
        margin-right: 2.4rem;

        @include breakpoint(mobile) {
            margin-right: 1.2rem;
        }
        &:last-child {
            .icon-divider {
                display: none;
            }
        }

        &:last-child {
            // padding-right: 0;
            margin-right: 0;
        }
    }
}

.standard-nav__link {
    font-style: normal;
    font-weight: 700;
    font-size: 1.6rem;
    line-height: 2.4rem;
    width: max-content;

    text-align: center;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: white;
    font-family: var(--cormorant);
    gap: 2.4rem;
    flex-shrink: 0;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    flex-grow: 1;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 700;
        font-size: 1.2rem;
        line-height: 1.2;
        gap: 1.2rem;
    }

    &--large {
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 3rem;

        @include breakpoint(mobile) {
            font-style: normal;
            font-weight: 600;
            font-size: 1.2rem;
            line-height: 1.2;
        }
    }

    .icon-divider {
        flex-shrink: 0;
        width: 4.8rem;
        height: 4.3rem;
        fill: rgba(white, 0.2);

        @include breakpoint(mobile) {
            width: 3.2rem;
            height: 3rem;
        }
    }
    &:link,
    &:visited {
        color: white;
    }

    .no-touch &:hover,
    .touch &:active,
    &.active {
        color: #f4e5a0;
    }

    .standard-nav--dark & {
        color: rgba(black, 0.3);
        &:link,
        &:visited {
            color: rgba(black, 0.3);
        }

        .icon-divider {
            fill: #bb9b8c;
        }

        .no-touch &:hover,
        .touch &:active,
        &.active {
            color: black;
        }
    }
}
