.standard-modal {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 100%;
    z-index: 300;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    display: flex;
    flex-direction: column;
    padding: var(--content-padding);
    background: rgba(0, 0, 0, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s, visibility 0s linear 0.4s;

    @include breakpoint(mobile) {
        padding: 6rem var(--content-padding);
        &--excursion {
            padding: 0;
            padding-top: 6.8rem;
        }
    }

    .no-touch & {
        @include customScrollbar();
        overflow-y: scroll;
    }

    &:not(.active) {
        right: calc(-1 * var(--sb-width, 0));
    }

    &.active {
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}

.standard-modal__inner {
    position: relative;
    width: 100%;
    max-width: 146.2rem;
    margin: auto;
    background-color: #fff;
    color: black;
    @include breakpoint(mobile) {
        position: static;

        .standard-modal--flowers & {
            background: transparent;
        }
        // margin: 0;
    }
}

.standard-modal__close {
    position: absolute;
    top: 0;
    left: 100%;
    margin-left: 2rem;
    width: 2.8rem;
    height: 2.8rem;
    z-index: 20;

    @include breakpoint(mobile) {
        margin: 0;
        top: 2rem;
        right: 1rem;

        left: auto;
    }
    svg {
        display: block;
        width: 100%;
        height: 100%;
        fill: white;
        transition: fill 0.2s;
    }

    .no-touch &:hover,
    .touch &:active {
        svg {
            fill: var(--primary-color);
        }
    }
}

.standard-modal__excursion-image-container {
    position: relative;

    &::before {
        content: '';
        display: none;
        padding-bottom: 32%;
        display: block;

        @include breakpoint(mobile) {
            padding-bottom: 56.25%;
        }
    }
}

.standard-modal__excursion-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.standard-modal__excursion-row {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 10rem;
    padding: 0 9rem;
    padding-bottom: 7.8rem;
    padding-top: 3.5rem;

    @include breakpoint(mobile) {
        padding: 2rem var(--content-padding);
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2.5rem;
        padding-bottom: 8rem;
    }
}

.standard-modal__excursion-title {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: var(--cormorant);
    margin-bottom: 2rem;
    margin-top: -0.2em;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.6rem;
        margin-bottom: 2rem;
    }
}

.standard-modal__excursion-time {
    display: flex;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-bottom: 6rem;

    @include breakpoint(mobile) {
        margin-bottom: 2.5rem;
    }
    svg {
        flex-shrink: 0;
        width: 1.6rem;
        height: 1.6rem;
        fill: black;
        margin-right: 0.8rem;
    }
}

.standard-modal__excursion-prices {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 3rem;

    @include breakpoint(mobile) {
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-gap: 2rem;
    }
}

.standard-modal__excursion-price-amount {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: var(--cormorant);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 600;
        font-size: 2.4rem;
        line-height: 120%;
    }
}

.standard-modal__excursion-price-text {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 130%;
    color: rgba(black, 0.5);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
    }
}

.standard-modal__excursion-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: var(--montserrat);
    margin-bottom: 8.5rem;
    max-width: 58rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
        margin-bottom: 7.2rem;
        max-width: none;
        font-family: var(--proxima);
    }
    &:last-child {
        margin-bottom: 0;
    }
    p {
        margin-bottom: 1.5rem;
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.standard-modal__flowers {
    // @include breakpoint(mobile) {
    //     padding: 0 var(--content-padding);
    // }
}

.standard-modal__flowers-slider {
    position: relative;
}

.standard-modal__flowers-slider-card {
    position: relative;
    z-index: 1;

    @include breakpointMF(small-tablet) {
        display: grid;
        &::before {
            content: '';
            display: block;
            padding-bottom: 56.25%;
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
}

.standard-modal__flowers-slider-card-bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;

    @include breakpoint(mobile) {
        position: relative;
        height: auto;
        z-index: 1;
        margin-bottom: 2.5rem;

        &:last-child {
            margin-bottom: 0;
        }
        &::before {
            content: '';
            display: block;
            padding-bottom: 56.25%;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 78.9%, rgba(0, 0, 0, 0.4) 98.11%);
    }
}

.standard-modal__flowers-slider-card-bg-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.standard-modal__flowers-slider-card-content {
    @include breakpointMF(small-tablet) {
        grid-column: 1 / 2;
        grid-row: 1 / 2;
    }
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 5rem;
    color: white;

    @include breakpoint(mobile) {
        padding: 0;
    }
}

.standard-modal__flowers-slider-card-content-row {
    display: flex;
    align-items: center;

    @include breakpoint(mobile) {
        flex-direction: column;
        align-items: stretch;
    }
}

.standard-modal__flowers-slider-card-info {
    width: 50%;
    flex-grow: 1;

    @include breakpoint(mobile) {
        width: 100%;
        flex-grow: 0;
    }
}

.standard-modal__flowers-slider-card-title {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    font-family: var(--cormorant);
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 1.3rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 120%;
        margin-bottom: 0.5rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.standard-modal__flowers-slider-card-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: var(--montserrat);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.4rem;
        line-height: 1.2;
    }
}

.standard-modal__flowers-link {
    margin-left: 4rem;

    @include breakpoint(mobile) {
        margin-left: 0;
        margin-bottom: 2.2rem;
        margin-top: 5rem;
    }
}

.standard-modal__flowers-slider-arrows {
    @include breakpoint(mobile) {
        // pointer-events: none;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        &::before {
            content: '';
            display: block;
            padding-bottom: 56.25%;
        }
    }
}

.standard-modal__flowers-slider-arrow {
    transition: opacity 0.2s;
    flex-shrink: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 30;

    // @include breakpoint(mobile) {
    //     pointer-events: all;
    // }

    &.swiper-button-disabled {
        opacity: 0.5;
        cursor: default;
    }

    &--prev {
        left: 3rem;
        transform: translateY(-50%) scaleX(-1);
        @include breakpoint(mobile) {
            left: 0;
            transform: translateY(-50%) translateX(-50%) scaleX(-1);
            margin-left: 2rem;
        }
    }

    &--next {
        right: 3rem;

        @include breakpoint(mobile) {
            right: 0;
            transform: translateY(-50%) translateX(50%);
            margin-right: 2rem;
        }
    }
}

.standard-modal__flowers-slider-arrow-icon {
    width: 6rem;
    height: 6rem;
    flex-shrink: 0;

    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include breakpoint(mobile) {
        width: 5.6rem;
        height: 5.6rem;
    }
    .icon-rombus-filled {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        fill: #f4e5a0;
        z-index: -1;
    }

    .icon-arrow-right {
        width: 1rem;
        height: 1.8rem;
        fill: black;

        @include breakpoint(mobile) {
            width: 1.6rem;
            height: 1.6rem;
        }
    }
}
.standard-modal__abonement {
    padding: 9rem;
    background-color: #fff;
    color: var(--text-color);

    @include breakpoint(mobile) {
        padding: var(--content-padding);
    }

    .order-excursion__card {
        max-width: none;
        margin: 0;
    }

    .order-excursion__card-heading {
        &::before {
            display: none;
        }
    }
}

.standard-modal__abonement-top-row {
    display: grid;
    grid-template-columns: minmax(0, 38rem) minmax(0, 1fr);
    grid-gap: 7rem;
    align-items: flex-start;
    margin-bottom: 8rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 3rem;
        margin-bottom: 4rem;
    }
    &:last-child {
        margin-bottom: 0;
    }
}

.standard-modal__abonement-image {
    display: block;
    width: 100%;
    height: auto;
}

.standard-modal__abonement-heading {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    font-family: var(--cormorant);
    line-height: 120%;
    font-feature-settings: 'pnum' on, 'lnum' on;
    margin-bottom: 1.2rem;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 500;
        font-size: 3rem;
        line-height: 120%;
    }
}

.standard-modal__abonement-heading-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    font-family: var(--montserrat);
    margin-bottom: 4.5rem;

    @include breakpoint(mobile) {
        margin-bottom: 3rem;
    }
}

.standard-modal__abonement-tariffs-list {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 5rem;
    grid-row-gap: 2.5rem;
    margin-bottom: 6.4rem;

    @include breakpoint(mobile) {
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2rem;
        margin-bottom: 3rem;
    }
}

.standard-modal__abonement-tariffs-card {
    display: flex;
    flex-direction: column;
}

.standard-modal__abonement-tariffs-card-price {
    font-style: normal;
    font-weight: 600;
    font-size: 3rem;
    line-height: 120%;
    letter-spacing: 0.05em;
    font-feature-settings: 'pnum' on, 'lnum' on;
    font-family: var(--cormorant);
    margin-bottom: 0.3rem;

    @include breakpoint(mobile) {
        font-size: 2.4rem;
        margin-bottom: 0.2rem;
    }
}

.standard-modal__abonement-tariffs-card-duration {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-bottom: 1.6rem;

    @include breakpoint(mobile) {
        font-size: 1rem;
        line-height: 1.2;
        margin-bottom: 1.2rem;
    }
}

.standard-modal__abonement-tariffs-card-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 130%;
    color: rgba(black, 0.5);
    @include breakpoint(mobile) {
        font-size: 1.4rem;
    }
}

.standard-modal__abonement-text-content {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: var(--montserrat);

    @include breakpoint(mobile) {
        font-size: 1.6rem;
        line-height: 1.2;
    }

    p {
        margin-bottom: 3rem;

        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }
    }

    ul {
        margin-bottom: 3rem;
        @include breakpoint(mobile) {
            margin-bottom: 2rem;
        }
        &:last-child {
            margin-bottom: 0;
        }

        & > li {
            padding-left: 3rem;
            position: relative;
            font-style: normal;
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 130%;
            font-family: var(--proxima);
            color: rgba(black, 0.5);
            margin-bottom: 1.2rem;

            @include breakpoint(mobile) {
                padding-left: 2rem;
            }
            &:last-child {
                margin-bottom: 0;
            }
            &::before {
                content: '';
                position: absolute;
                width: 1.2rem;
                height: 1.2rem;
                left: 0;
                top: 0.3rem;
                background-image: url('../img/marker.svg');
                background-size: contain;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}

.standard-modal__schedule {
    background-color: #fff;
    color: #000000;
}

.standard-modal__schedule-image {
    display: block;
    width: 100%;
    height: auto;
}

.standard-modal__schedule-row {
    padding: 7rem 9rem;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-gap: 2rem;

    @include breakpoint(mobile) {
        padding: 2rem var(--content-padding);
        grid-template-columns: minmax(0, 1fr);
        grid-gap: 2.5rem;
    }
}

.standard-modal__schedule-name {
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    font-family: var(--cormorant);
    line-height: 120%;
    text-transform: uppercase;
    font-feature-settings: 'pnum' on, 'lnum' on;
    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 2.4rem;
        line-height: 2.6rem;
        
    }
}

.standard-modal__schedule-heading-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
    margin-top: 1rem;
}

.standard-modal__schedule-trainer {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    margin-top: 5rem;

    @include breakpoint(mobile) {
        margin-top: 3rem;
    }
}

.standard-modal__schedule-trainer-photo-container {
    width: 6.4rem;
    height: 6.4rem;
    position: relative;
    border-radius: 50%;
    flex-shrink: 0;
    overflow: hidden;
}

.standard-modal__schedule-trainer-photo {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.standard-modal__schedule-trainer-role {
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

.standard-modal__schedule-trainer-name {
    font-style: normal;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.6rem;
    letter-spacing: 0.18em;
    text-transform: uppercase;
}

.standard-modal__schedule-text {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-family: var(--montserrat);

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 120%;
       
    }
}
