.tabs-block {
    @include sectionPadding;
    background-color: #fff;
}

.tabs-block__nav-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 10rem;

    @include breakpoint(mobile) {
       
        overflow-y: hidden;
        -webkit-overflow-scrolling: touch;
        margin: 0 calc(-1 * var(--content-padding));
        padding: 0 var(--content-padding);
        margin-bottom: 4rem;
        padding-bottom: 1rem;
        justify-content: initial;

        @include noScrollbar();
    }
}

.tabs-block__nav {
   
    justify-content: center;

    position: relative;
    display: flex;
    gap: 8rem;

    @include breakpoint(mobile) {
        gap: 1rem;
        margin: 0 auto;
    }
    &::before {
        content: '';
        position: absolute;
        left: 16rem;
        right: 16rem;
        bottom: 0;
        height: 1px;
        background-color: #d9d9d9;

        @include breakpoint(mobile) {
            left: 4.7rem;
            right: 4.7rem;
        }
    }
}

.tabs-block__nav-btn {
    font-style: normal;
    font-weight: 300;
    font-size: 3rem;
    line-height: 110%;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: #b3b3b3;
    width: 32rem;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    // display: block;
    position: relative;
    padding-bottom: 5rem;
    font-family: var(--montserrat);
    justify-content: center;

    @include breakpoint(mobile) {
        font-style: normal;
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 110%;
        letter-spacing: 0.1em;
        text-transform: uppercase;
        padding-bottom: 2rem;
        width: 10rem;
        flex-shrink: 0;
    }
    &:link,
    &:visited {
        color: #b3b3b3;
    }

    &::before {
        content: '';
        top: 100%;
        left: 50%;
        transform: translateX(-50%) rotate(45deg);
        width: 1rem;
        height: 1rem;
        margin-top: calc(-0.5rem - 0.5px);
        background-color: #d9d9d9;
        transition: background-color 0.2s;
        position: absolute;

        @include breakpoint(mobile) {
            width: 0.5rem;
            height: 0.5rem;
            margin-top: calc(-0.25rem - 0.5px);
        }
    }

    .no-touch &:hover,
    .touch &:active,
    &.active {
        color: #000000;
        &::before {
            background-color: #bb9b8c;
        }
    }
}

.tabs-block__items {
    position: relative;
}

.tabs-block__item {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    z-index: 5;
    transition: opacity 0.4s, visibility 0s linear 0.4s;
    opacity: 0;
    visibility: hidden;

    &.active {
        position: relative;
        z-index: 10;
        opacity: 1;
        visibility: inherit;
        transition: opacity 0.4s, visibility 0.4s;
    }
}
